<script setup lang="ts">
import { type PropType } from 'vue';
import { IconifyIcon } from '@iconify/vue';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { Item } from '../../models/item';

const ACTION_DATA: Record<string, { icon: IconifyIcon; nameLk: string }> = {
  connect: {
    icon: getIcon('mdi', 'connection'),
    nameLk: '.connect'
  },
  send: {
    icon: getIcon('mdi', 'arrow-top-right'),
    nameLk: '.send'
  },
  resend: {
    icon: getIcon('mdi', 'arrow-top-right'),
    nameLk: '.resend'
  },
  abort: {
    icon: getIcon('mdi', 'publish-off'),
    nameLk: '.abort'
  },
  download: {
    icon: getIcon('mdi', 'download'),
    nameLk: 'core.action.download'
  },
  delete: {
    icon: getIcon('mdi', 'delete-forever'),
    nameLk: 'core.action.delete'
  }
};

const props = defineProps({
  enabledActions: {
    type: Array as PropType<string[]>,
    required: true
  },
  item: {
    type: Object as PropType<Item>,
    required: false
  }
});

const emit = defineEmits<{
  trigger: [action: string];
}>();

const la = new LocaleActor('components.panel.FileOperationPanel');

function isSingleItemDownload(action: string): boolean {
  return (props.item?.getFileUrl && action === 'download') || false;
}

function onActionTriggered(action: string): void {
  emit('trigger', action);
}
</script>

<template>
  <BlockPanel class="mt-1.5">
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          class="mr-2"
          :icon-info="{
            icon: getIcon('mdi', 'file'),
            size: 1.2
          }"
        ></IconPanel>
        {{ la.t('.title') }}
      </div>
    </template>
    <div class="m-2 mt-0 flex flex-wrap gap-2">
      <template v-for="(actionData, action) in ACTION_DATA" :key="action">
        <a
          v-if="
            props.item?.getFileUrl &&
            isSingleItemDownload(action) &&
            props.enabledActions.includes('download')
          "
          class="btn btn-ghost gap-2"
          :href="props.item?.getFileUrl"
          :download="props.item?.downloadFileName"
        >
          <IconPanel
            :icon-info="{
              icon: actionData.icon,
              size: 1.5
            }"
          ></IconPanel>
          {{ la.t(actionData.nameLk) }}
        </a>
        <IconTextBtn
          v-if="
            !isSingleItemDownload(action) &&
            props.enabledActions.includes(action)
          "
          class="btn-ghost"
          :class="action === 'delete' ? 'text-error' : ''"
          :icon-info="{ icon: actionData.icon }"
          :text="la.t(actionData.nameLk) as string"
          @click="onActionTriggered(action)"
        ></IconTextBtn>
      </template>
    </div>
  </BlockPanel>
</template>
