<script setup lang="ts">
import { type PropType } from 'vue';
import { Icon, type IconifyIcon } from '@iconify/vue';
import type { LabelInfo } from '@base-workspace/bw-ui';
import { BlockPanel, LabelPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { Item } from '../../models/item';

const la = new LocaleActor('components.panel.ItemListPanel');

const props = defineProps({
  items: {
    type: Array as PropType<Item[]>,
    default: () => []
  }
});

function fetchListItemLabelInfo(item: Item): LabelInfo {
  const labelInfo = item.statusLabelInfo(la);
  delete labelInfo.text;
  return labelInfo;
}
</script>

<template>
  <BlockPanel class="p-3">
    <template #title>
      <div class="flex items-center gap-1">
        {{ la.t('.selectedCount', { count: props.items.length }) }}
      </div>
    </template>
    <div class="overflow-y-auto max-h-v15">
      <div
        v-for="item in props.items"
        :key="item.uid"
        class="py-1 flex items-center gap-2"
      >
        <Icon
          :icon="item.formatLabelInfo(la).iconInfo.icon as IconifyIcon"
          width="1.5rem"
          class="flex-none"
        />
        <LabelPanel
          :info="fetchListItemLabelInfo(item)"
          :icon-only="true"
          class="w-fit"
        ></LabelPanel>
        <div class="break-all">
          {{ item.fileName }}
        </div>
      </div>
    </div>
  </BlockPanel>
</template>
