<script setup lang="ts">
import { ref } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LabelPanel } from '@base-workspace/bw-ui';
import {
  type ItemFilterOption,
  ITEM_STATUSES,
  ITEM_FORMATS
} from '../../models/item-types';
import { Item } from '../../models/item';

const filterOpt = defineModel<ItemFilterOption>();
const la = new LocaleActor('components.panel.SearchFormPanel');
const searchKeywordInput = ref();

function focusKeywordInput(): void {
  searchKeywordInput.value.focus();
}
defineExpose({ focusKeywordInput });
</script>

<template>
  <div v-if="filterOpt" class="flex flex-col gap-3">
    <input
      ref="searchKeywordInput"
      v-model="filterOpt.keyword"
      type="search"
      :placeholder="la.t('.searchKeywordHint') as string"
      class="input input-bordered flex-none"
    />
    <div class="flex flex-wrap">
      <label
        v-for="status in ITEM_STATUSES"
        :key="status"
        :for="`search-status-${status}`"
        class="cursor-pointer flex items-center gap-2 mr-2 mb-2"
      >
        <input
          type="checkbox"
          v-model="filterOpt.statuses"
          :id="`search-status-${status}`"
          name="search-status"
          class="checkbox"
          :value="status"
        />
        <LabelPanel
          :info="Item.statusLabelInfo('sender', status, la)"
        ></LabelPanel>
      </label>
    </div>
    <div class="flex flex-wrap">
      <label
        v-for="format in ITEM_FORMATS"
        :key="format"
        :for="`search-format-${format}`"
        class="cursor-pointer flex items-center gap-2 mr-2 mb-2"
      >
        <input
          type="checkbox"
          v-model="filterOpt.formats"
          :id="`search-format-${format}`"
          name="search-format"
          class="checkbox"
          :value="format"
        />
        <LabelPanel :info="Item.formatLabelInfo(format, la)"></LabelPanel>
      </label>
    </div>
  </div>
</template>
