<script setup lang="ts">
import { type PropType } from 'vue';
import { IconifyIcon } from '@iconify/vue';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';

const ACTION_DATA: Record<string, { icon: IconifyIcon; nameLk: string }> = {
  clear: {
    icon: getIcon('mdi', 'magnify-close'),
    nameLk: 'core.action.clearSearch'
  },
  select: {
    icon: getIcon('mdi', 'checkbox-multiple-marked-outline'),
    nameLk: 'core.action.selectSearch'
  }
};

const props = defineProps({
  enabledActions: {
    type: Array as PropType<string[]>,
    default: () => ['clear', 'select']
  }
});

const emit = defineEmits<{
  trigger: [action: string];
}>();

const la = new LocaleActor('components.panel.SearchOperationPanel');

function onActionTriggered(action: string): void {
  emit('trigger', action);
}
</script>

<template>
  <BlockPanel class="mt-1.5">
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          class="mr-2"
          :icon-info="{
            icon: getIcon('mdi', 'magnify'),
            size: 1.2
          }"
        ></IconPanel>
        {{ la.t('.title') }}
      </div>
    </template>
    <div class="m-2 mt-0 flex flex-wrap gap-2">
      <template v-for="(actionData, action) in ACTION_DATA" :key="action">
        <IconTextBtn
          v-if="props.enabledActions.includes(action)"
          class="btn-ghost"
          :icon-info="{ icon: actionData.icon }"
          :text="la.t(actionData.nameLk) as string"
          @click="onActionTriggered(action)"
        ></IconTextBtn>
      </template>
    </div>
  </BlockPanel>
</template>
