<script setup lang="ts">
import { type PropType } from 'vue';
import * as Selection from '@base-workspace/bw-selection';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';

const props = defineProps(
  Object.assign({}, Selection.SELECTION_PROP, {
    markedValues: {
      type: Array as PropType<string[]>,
      default: []
    }
  })
);

const emit = defineEmits<{
  select: [value: string];
}>();

function onOptionSelected(value: string): void {
  emit('select', value);
}
</script>

<template>
  <div
    class="flex lg:flex-col justify-start border-r-4"
    :class="props.current === 'none' ? 'flex-row-reverse' : 'flex-col'"
  >
    <div
      class="flex-1 flex lg:flex-col justify-start items-stretch flex-wrap"
      :class="props.current === 'none' ? 'flex-row' : 'flex-col'"
    >
      <div
        v-for="option in props.options"
        :key="option.value"
        class="indicator"
      >
        <span
          v-if="props.markedValues.includes(option.value)"
          class="indicator-item indicator-bottom text-error mb-[0.5rem] mr-[0.5rem]"
        >
          <IconPanel
            :icon-info="{ icon: getIcon('mdi', 'circle'), size: 0.6 }"
          ></IconPanel>
        </span>
        <button
          class="flex-1 p-3 hover:bg-base-200 flex justify-start items-center flex-nowrap"
          :class="`${
            option.value === props.current ? 'bg-base-300' : 'bg-base-100'
          }`"
          @click="onOptionSelected(option.value)"
        >
          <IconPanel
            v-if="option.iconInfo"
            :icon-info="option.iconInfo"
            :override="{ size: 1.5 }"
          ></IconPanel>
        </button>
      </div>
    </div>
    <div class="self-end">
      <button
        v-if="props.current === 'none'"
        class="flex-1 p-3 hover:bg-base-200 flex justify-start items-center flex-nowrap"
        @click="onOptionSelected(props.markedValues[0])"
      >
        <IconPanel
          class="hidden lg:block"
          :icon-info="{ icon: getIcon('mdi', 'chevron-left'), size: 1.5 }"
        ></IconPanel>
        <IconPanel
          class="lg:hidden"
          :icon-info="{ icon: getIcon('mdi', 'chevron-up'), size: 1.5 }"
        ></IconPanel>
      </button>
      <button
        v-else
        class="flex-1 p-3 hover:bg-base-200 flex justify-start items-center flex-nowrap"
        @click="onOptionSelected('none')"
      >
        <IconPanel
          class="hidden lg:block"
          :icon-info="{ icon: getIcon('mdi', 'chevron-right'), size: 1.5 }"
        ></IconPanel>
        <IconPanel
          class="lg:hidden"
          :icon-info="{ icon: getIcon('mdi', 'chevron-down'), size: 1.5 }"
        ></IconPanel>
      </button>
    </div>
  </div>
</template>
