<script setup lang="ts">
import { ref, type PropType } from 'vue';
import { IconifyIcon } from '@iconify/vue';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';

const ACTION_DATA: Record<string, { icon: IconifyIcon; nameLk: string }> = {
  edit: {
    icon: getIcon('mdi', 'text-box-edit-outline'),
    nameLk: 'core.action.edit'
  },
  copy_to_clipboard: {
    icon: getIcon('mdi', 'content-copy'),
    nameLk: 'core.action.copyToClipboard'
  },
  generate_qrcode: {
    icon: getIcon('mdi', 'qrcode-scan'),
    nameLk: '.generateQrCode'
  },
  open_link: {
    icon: getIcon('mdi', 'open-in-new'),
    nameLk: 'core.action.openLink'
  }
};

const props = defineProps({
  enabledActions: {
    type: Array as PropType<string[]>,
    default: () => ['edit', 'copy_to_clipboard', 'generate_qrcode']
  },
  fileString: {
    type: String,
    required: true
  }
});

const emit = defineEmits<{
  trigger: [action: string];
}>();

const la = new LocaleActor('components.panel.TextOperationPanel');
const showCopied = ref<boolean>(false);

function onActionTriggered(action: string): void {
  if (action === 'copy_to_clipboard') {
    navigator.clipboard.writeText(props.fileString || '').then(() => {
      showCopied.value = true;
    });
  } else {
    emit('trigger', action);
  }
}

function showCopiedHint(): void {
  showCopied.value = true;
}

defineExpose({ showCopiedHint });
</script>

<template>
  <BlockPanel class="mt-1.5">
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          class="mr-2"
          :icon-info="{
            icon: getIcon('mdi', 'text-box-outline'),
            size: 1.2
          }"
        ></IconPanel>
        {{ la.t('.title') }}
      </div>
    </template>
    <Transition name="fade" @after-enter="showCopied = false">
      <label v-if="showCopied" class="label mx-2">
        <span class="label-text text-success">{{
          la.t('core.action.copied')
        }}</span>
      </label>
    </Transition>
    <div class="m-2 mt-0 flex flex-wrap gap-2">
      <template v-for="(actionData, action) in ACTION_DATA" :key="action">
        <a
          v-if="action === 'open_link' && props.enabledActions.includes(action)"
          class="btn btn-ghost gap-2"
          :href="props.fileString"
          target="_blank"
        >
          <IconPanel
            :icon-info="{
              icon: actionData.icon,
              size: 1.5
            }"
          ></IconPanel>
          {{ la.t(actionData.nameLk) }}
        </a>
        <IconTextBtn
          v-if="action !== 'open_link' && props.enabledActions.includes(action)"
          class="btn-ghost"
          :icon-info="{ icon: actionData.icon }"
          :text="la.t(actionData.nameLk) as string"
          @click="onActionTriggered(action)"
        ></IconTextBtn>
      </template>
    </div>
  </BlockPanel>
</template>

<style scoped>
.fade-enter-active {
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}

.fade-enter-from {
  opacity: 100;
}

.fade-enter-to {
  opacity: 0;
}
</style>
