@layer components {
  html {
    @apply subpixel-antialiased;
    cursor: default;
  }

  body {
    height: 100vh;
    height: calc(var(--vh) * 100);
  }

  #app {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  div {
    @apply select-none;
    cursor: inherit;
  }

  dialog {
    @apply bg-transparent max-w-screen max-h-screen p-0 m-0;
  }
  dialog::backdrop {
    @apply bg-black/70 backdrop-blur-sm;
  }

  dialog,
  dialog[open]::backdrop {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  dialog {
    transform: translateY(10px);
  }

  dialog[open].fade-in,
  dialog[open].fade-in::backdrop {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
  }
  dialog[open].fade-in {
    transform: translateY(0px);
  }

  .select:focus, .input:focus, textarea:focus {
    outline: 2px solid theme(colors.transparent);
  }

  :focus-visible {
    outline: 2px solid theme(colors.primary);
    outline-offset: 0;
  }

  .menu .bordered button {
    border-left-width: 0.25rem;
  }

  .fade-out-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-out-leave-to {
    opacity: 0;
  }

  .radio, .checkbox {
    border-color: theme(colors.base-300);
  }

  .square-v30 {
    --size: min(30vh, 30vh);
    width: var(--size);
    height: var(--size);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
