<script setup lang="ts">
import { ref, useSlots } from 'vue';
import { IconCircleBtn, getIcon } from '@base-workspace/bw-icon';

const props = defineProps({
  enableToolbarHidden: {
    type: Boolean,
    default: false
  },
  enableMenuBtnOnlyToolbar: {
    type: Boolean,
    default: false
  },
  theme: {
    type: String,
    default: 'white'
  }
});

const slots = useSlots();
const isDrawerMenuOn = ref<boolean>(false);
const isToolbarShown = ref<boolean>(true);

function toggleToolbar(): void {
  isToolbarShown.value = !isToolbarShown.value;
}

function closeMenu(): void {
  isDrawerMenuOn.value = false;
}

defineExpose({
  closeMenu
});
</script>

<template>
  <div class="absolute top-0 button-0 w-full h-full" :data-theme="props.theme">
    <div class="drawer relative top-0 bottom-0 w-full h-full">
      <input
        id="main-layout-drawer"
        v-model="isDrawerMenuOn"
        type="checkbox"
        class="drawer-toggle"
      />
      <div
        class="drawer-content relative top-0 bottom-0 w-full h-full overflow-hidden flex flex-col justify-between items-stretch"
      >
        <div v-if="slots['layout-header']" class="z-10">
          <slot name="layout-header"></slot>
        </div>
        <div
          class="grow min-h-0 flex flex-col justify-between items-stretch bg-base-100"
        >
          <slot name="layout-fixed-top-panel"></slot>
          <div class="grow relative pt-3">
            <div class="absolute inset-0">
              <slot />
            </div>
          </div>
          <div class="absolute bottom-0 w-full z-50">
            <slot name="layout-overlay-panel"></slot>
          </div>
          <slot name="layout-fixed-bottom-panel"></slot>
          <div v-if="enableMenuBtnOnlyToolbar" class="absolute bottom-2 left-2">
            <IconCircleBtn
              class="btn-ghost"
              :icon-info="{ icon: getIcon('mdi', 'menu') }"
              @click="isDrawerMenuOn = true"
            ></IconCircleBtn>
          </div>
          <div v-else class="relative">
            <Transition name="menu-open">
              <div
                v-if="isToolbarShown"
                class="w-full border-t border-base-200/60 backdrop-blur-sm bg-banner bg-cover flex flex-col items-stretch"
              >
                <div class="flex justify-start items-center pt-2">
                  <slot name="toolbar-sub-menu"></slot>
                </div>
                <div
                  class="min-w-0 flex justify-between items-center p-2 pt-0"
                  :class="{ 'pr-14': props.enableToolbarHidden }"
                >
                  <IconCircleBtn
                    class="flex-none btn-ghost"
                    :icon-info="{ icon: getIcon('mdi', 'menu') }"
                    @click="isDrawerMenuOn = true"
                  ></IconCircleBtn>
                  <div class="grow min-w-0 flex justify-start items-center">
                    <slot name="toolbar-main-menu"></slot>
                  </div>
                  <div
                    v-if="props.enableToolbarHidden"
                    class="absolute bottom-2 right-2 w-fit rounded-full"
                  >
                    <IconCircleBtn
                      class="btn-ghost"
                      :icon-info="{
                        icon: getIcon('mdi', 'menu-open'),
                        flip: { h: true }
                      }"
                      @click="toggleToolbar"
                    ></IconCircleBtn>
                  </div>
                </div>
              </div>
            </Transition>
            <div
              v-if="props.enableToolbarHidden && !isToolbarShown"
              class="absolute bottom-2 right-2 w-fit rounded-full backdrop-blur-sm bg-base-100/60 opacity-30 hover:opacity-100"
            >
              <IconCircleBtn
                class="btn-ghost"
                :icon-info="{ icon: getIcon('mdi', 'menu-open') }"
                @click="toggleToolbar"
              ></IconCircleBtn>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-side z-20">
        <label for="main-layout-drawer" class="drawer-overlay"></label>
        <div
          class="h-full min-h-0 w-fit min-w-[16rem] max-w-full bg-base-100 text-base-content flex flex-col justify-between"
        >
          <slot name="side-menu-header"> </slot>
          <div class="grow"></div>
          <div class="overflow-y-auto">
            <slot name="side-menu-content"> </slot>
          </div>
          <div class="m-2 ml-4 pl-0.5">
            <div class="flex items-center">
              <IconCircleBtn
                class="btn-ghost"
                :icon-info="{ icon: getIcon('mdi', 'close') }"
                @click="isDrawerMenuOn = false"
              ></IconCircleBtn>
              <slot name="side-circle-btns"> </slot>
            </div>
          </div>
        </div>
      </div>
    </div>
    <slot name="layout-top-layer"></slot>
  </div>
</template>

<style scoped>
.menu-open-enter-active,
.menu-open-leave-active {
  transition: all 0.3s ease;
}
.menu-open-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
.menu-open-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
