<script setup lang="ts">
import { useSlots } from 'vue';
const slots = useSlots();
</script>

<template>
  <div
    class="z-10 p-3 flex justify-between items-center shadow shadow-base-200/50 bg-base-100"
  >
    <div v-if="slots['header-title']" class="grow">
      <slot name="header-title"></slot>
    </div>
    <div v-if="slots['header-end']" class="ml-3">
      <slot name="header-end"></slot>
    </div>
  </div>
</template>
