<script setup lang="ts">
import { computed, type PropType } from 'vue';
import type { IconInfo } from '../types';
import IconPanel from './IconPanel.vue';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: true
  },
  text: {
    type: String,
    required: true
  },
  multiple: {
    type: Boolean,
    default: true
  }
});

const emit = defineEmits<{
  select: [files: FileList];
}>();

const iconInfo = computed<IconInfo>(() => {
  return Object.assign({ size: 3 }, props.iconInfo);
});

function onFilesSelected(event: Event): void {
  const files = (event.target as HTMLInputElement).files;
  if (!files) {
    return;
  }
  emit('select', files);
}
</script>

<template>
  <label
    class="cursor-pointer p-2 rounded-lg select-none flex flex-col items-center gap-3"
  >
    <input
      type="file"
      class="hidden"
      @change="onFilesSelected"
      :multiple="props.multiple"
    />
    <IconPanel :icon-info="iconInfo"></IconPanel>
    {{ props.text }}
  </label>
</template>
