<script setup lang="ts">
import { computed, type PropType } from 'vue';
import { breakpointsTailwind, useBreakpoints } from '@vueuse/core';
import type { IconInfo } from '../types';
import IconPanel from './IconPanel.vue';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: false
  },
  text: {
    type: String,
    required: false
  },
  hideTextOn: {
    type: Array,
    default: () => []
  },
  square: {
    type: Boolean,
    default: false
  }
});

const breakpoints = useBreakpoints(breakpointsTailwind);
const activeBreakpoint = breakpoints.active();

const iconInfo = computed<IconInfo>(() => {
  return Object.assign({ size: 1.5 }, props.iconInfo);
});

const isTextHidden = computed<boolean>(() => {
  if (!props.text) {
    return true;
  }
  if (activeBreakpoint.value === '' && props.hideTextOn.includes('xs')) {
    return true;
  }
  return props.hideTextOn.includes(activeBreakpoint.value);
});

const btnKlass = computed<string>(() => {
  if (isTextHidden.value) {
    if (props.square) {
      return 'btn-square';
    } else {
      return 'btn-circle';
    }
  } else {
    return '';
  }
});
</script>

<template>
  <button class="btn flex items-center gap-2" :class="btnKlass">
    <IconPanel v-if="props.iconInfo" :iconInfo="iconInfo" />
    <template v-if="props.text">
      <div v-if="!isTextHidden">
        {{ props.text }}
      </div>
    </template>
  </button>
</template>
