<script setup lang="ts">
import { computed, type PropType } from 'vue';
import { Icon } from '@iconify/vue';
import { IconInfo } from '../types';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: true
  },
  override: {
    type: Object as PropType<Partial<IconInfo>>,
    required: false
  }
});

const DEFAULT_ICON_SIZE = 1;
const DEFAULT_ICON_SCALE = 1.0;

const iconSize = computed<{ w: number; h: number }>(() => {
  const size = props.override?.size || props.iconInfo.size || DEFAULT_ICON_SIZE;
  return {
    w: size * (props.iconInfo.scale?.w || DEFAULT_ICON_SCALE),
    h: size * (props.iconInfo.scale?.h || DEFAULT_ICON_SCALE)
  };
});

const iconStyle = computed<{ 'margin-top': string; 'margin-left': string }>(
  () => {
    const style = props.override?.style || props.iconInfo.style || {};
    const offset = props.override?.offset || props.iconInfo.offset || {};
    return Object.assign(
      {
        'margin-top': offset?.x || '0',
        'margin-left': offset?.y || '0'
      },
      style
    );
  }
);

const iconFlip = computed<{ h: boolean; v: boolean }>(() => {
  const flip = props.override?.flip || props.iconInfo.flip || {};
  return {
    v: flip?.v || false,
    h: flip?.h || false
  };
});
</script>

<template>
  <Icon
    :icon="props.override?.icon || props.iconInfo.icon"
    :width="`${iconSize.w}rem`"
    :height="`${iconSize.h}rem`"
    :h-flip="iconFlip.h"
    :v-flip="iconFlip.v"
    :style="iconStyle"
  />
</template>
