<script setup lang="ts">
import { computed, type PropType } from 'vue';
import type { IconInfo } from '../types';
import IconPanel from './IconPanel.vue';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: true
  },
  text: {
    type: String,
    required: true
  }
});

const iconInfo = computed<IconInfo>(() => {
  return Object.assign({ size: 3 }, props.iconInfo);
});
</script>

<template>
  <button class="p-2 rounded-lg select-none flex flex-col items-center gap-3">
    <IconPanel :icon-info="iconInfo"></IconPanel>
    {{ props.text }}
  </button>
</template>
