<script setup lang="ts">
import { computed, type PropType } from 'vue';
import { breakpointsTailwind, useBreakpoints } from '@vueuse/core';
import type { IconInfo } from '../types';
import IconPanel from './IconPanel.vue';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: false
  },
  text: {
    type: String,
    required: false
  },
  hideTextOn: {
    type: Array,
    default: () => []
  },
  multiple: {
    type: Boolean,
    default: true
  }
});

const emit = defineEmits<{
  select: [files: FileList];
}>();

const breakpoints = useBreakpoints(breakpointsTailwind);
const activeBreakpoint = breakpoints.active();

const iconInfo = computed<IconInfo>(() => {
  return Object.assign({ size: 1.5 }, props.iconInfo);
});

const isTextHidden = computed<boolean>(() => {
  if (!props.text) {
    return true;
  }
  if (activeBreakpoint.value === '' && props.hideTextOn.includes('xs')) {
    return true;
  }
  return props.hideTextOn.includes(activeBreakpoint.value);
});

function onFilesSelected(event: Event): void {
  const files = (event.target as HTMLInputElement).files;
  if (!files) {
    return;
  }
  emit('select', files);
}
</script>

<template>
  <label
    class="btn flex items-center gap-2"
    :class="{ 'btn-circle': isTextHidden }"
  >
    <input
      type="file"
      class="hidden"
      @change="onFilesSelected"
      :multiple="props.multiple"
    />
    <IconPanel v-if="props.iconInfo" :iconInfo="iconInfo" />
    <template v-if="props.text">
      <div v-if="!isTextHidden">
        {{ props.text }}
      </div>
    </template>
  </label>
</template>
