<script setup lang="ts">
import { computed, type PropType } from 'vue';
import type { IconInfo } from '../types';
import IconPanel from './IconPanel.vue';

const props = defineProps({
  iconInfo: {
    type: Object as PropType<IconInfo>,
    required: true
  }
});

const iconInfo = computed<IconInfo>(() => {
  return Object.assign({ size: 1.5 }, props.iconInfo);
});
</script>

<template>
  <button class="btn btn-circle flex items-center">
    <IconPanel :iconInfo="iconInfo" />
  </button>
</template>
