<script setup lang="ts">
import { ref, computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import * as Selection from '@base-workspace/bw-selection';
import * as ArrayLooper from '../services/array-looper';
import { LOCALE_MAP } from '../locales/index';

const props = defineProps(
  Object.assign({}, Selection.SELECTION_PROP, {
    enableCreation: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      required: false
    }
  })
);

const emit = defineEmits<{
  select: [value: string];
  create: [value: string];
  input: [value: string];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.AutoCompletionInput', i18n.t);
const query = ref<string>('');
const markedOpt = ref<Selection.SelectionOption>();
const queryInput = ref();
const optionEntries = ref();

const filteredOpts = computed<Selection.SelectionOption[]>(() => {
  let options = [...(props.options || [])];
  if (query.value) {
    options = options.filter((option) => {
      const queryParts = query.value.split(' ');
      for (let i = 0; i < queryParts.length; i++) {
        const queryPart = queryParts[i];
        const isFound =
          option.label?.toLowerCase().includes(queryPart.toLowerCase()) ||
          option.value.toLowerCase().includes(queryPart.toLowerCase()) ||
          (option.searchIndex &&
            option.searchIndex.toLowerCase().includes(queryPart.toLowerCase()));
        if (!isFound) {
          return false;
        }
      }
      return true;
    });
  }
  return options;
});

const isReadyToSubmit = computed<boolean>(() => {
  if (props.enableCreation) {
    return query.value !== '';
  } else {
    return markedOpt.value !== undefined;
  }
});

function onOptionSelected(index: number): void {
  if (filteredOpts.value[index]) {
    markedOpt.value = filteredOpts.value[index];
    onQueryInputSubmitted();
  }
}

function onQueryInputSubmitted(): void {
  if (
    props.enableCreation &&
    markedOpt.value === undefined &&
    query.value !== ''
  ) {
    emit('create', query.value);
  } else {
    if (markedOpt.value) {
      emit('select', markedOpt.value.value);
      markedOpt.value = undefined;
      query.value = '';
    }
  }
}

function onQueryInputCleared(): void {
  query.value = '';
  emit('input', query.value);
}

function onQueryInputTyped(): void {
  emit('input', query.value);
  nextTick(() => {
    markedOpt.value = filteredOpts.value[0] || undefined;
  });
}

function isMarkedOption(opt: Selection.SelectionOption): boolean {
  return (markedOpt.value && markedOpt.value.value === opt.value) || false;
}

function foundIndex(value: string): number {
  return filteredOpts.value.findIndex((opt) => {
    if (value) {
      return value === opt.value;
    } else {
      return false;
    }
  });
}

function scorllOptionEle(index: number): void {
  const markedEle = optionEntries.value[index];
  if (markedEle) {
    markedEle.scrollIntoView({ block: 'center' });
  }
}

function onQueryInputMoved(
  event: KeyboardEvent,
  direction: 'up' | 'down'
): void {
  let selectedIndex = -1;
  if (markedOpt.value) {
    selectedIndex = foundIndex(markedOpt.value.value);
  }
  let markedIndex = 0;
  if (selectedIndex < 0) {
    markedOpt.value = filteredOpts.value[0];
  } else if (direction === 'up') {
    markedIndex = ArrayLooper.prevIndex(filteredOpts.value, selectedIndex);
  } else if (direction === 'down') {
    markedIndex = ArrayLooper.nextIndex(filteredOpts.value, selectedIndex);
  }
  markedOpt.value = filteredOpts.value[markedIndex];
  scorllOptionEle(markedIndex);
  event.stopPropagation();
}

function setupUi(givenQuery?: string): void {
  if (givenQuery != undefined) {
    query.value = givenQuery;
  }
  setTimeout(() => {
    if (queryInput.value) {
      queryInput.value.select();
    }
    if (props.current) {
      const currentIndex = foundIndex(props.current);
      if (currentIndex >= 0) {
        markedOpt.value = filteredOpts.value[currentIndex];
        scorllOptionEle(currentIndex);
      }
    }
  }, 500);
}
defineExpose({ setupUi });
</script>

<template>
  <div class="flex flex-col items-stretch gap-3">
    <div class="border-2 border-dashed rounded-lg grow overflow-y-auto">
      <ul v-if="filteredOpts.length > 0" class="menu bg-base-100">
        <li
          v-for="(option, index) in filteredOpts"
          ref="optionEntries"
          :key="option.value"
        >
          <button
            class="outline-none flex justify-start items-center text-left"
            :class="isMarkedOption(option) ? 'bg-base-300' : ''"
            @click="onOptionSelected(index)"
          >
            <IconPanel
              v-if="option.iconInfo"
              :icon-info="option.iconInfo"
            ></IconPanel>
            <div>
              {{ option.label }}
            </div>
            <div class="flex-1"></div>
            <IconPanel
              v-if="option.value === props.current"
              class="text-primary"
              :icon-info="{ icon: getIcon('mdi', 'circle'), size: 0.8 }"
            ></IconPanel>
          </button>
        </li>
      </ul>
      <ul v-else class="menu bg-base-100">
        <li class="p-3 text-center">{{ la.t('.onMatchingOptions') }}</li>
      </ul>
    </div>
    <div class="flex-none">
      <label class="w-full join">
        <input
          ref="queryInput"
          v-model="query"
          class="join-item input input-bordered w-full"
          type="text"
          autocomplete="off"
          :placeholder="props.placeholder"
          @input="onQueryInputTyped"
          @keyup.up="onQueryInputMoved($event, 'up')"
          @keyup.down="onQueryInputMoved($event, 'down')"
          @keyup.enter="onQueryInputSubmitted"
        />
        <span
          v-if="query && query.length > 0"
          class="join-item px-2 bg-base-200 cursor-pointer flex items-center"
          @click="onQueryInputCleared"
        >
          <IconPanel
            :icon-info="{ icon: getIcon('mdi', 'close'), size: 1 }"
          ></IconPanel>
        </span>
        <span
          v-if="isReadyToSubmit"
          class="join-item px-2 bg-base-200 cursor-pointer flex items-center"
          @click="onQueryInputSubmitted"
        >
          <IconPanel
            :icon-info="{ icon: getIcon('mdi', 'arrow-left-bottom'), size: 1 }"
          ></IconPanel>
        </span>
      </label>
    </div>
  </div>
</template>
