<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales/index';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.BooleanSwitchInput', i18n.t);

const props = defineProps({
  current: {
    type: Boolean,
    required: true
  }
});

const currentValue = ref(props.current);

const emit = defineEmits<{
  change: [value: boolean];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentValue.value = newValue;
  }
);

function onSwitchBtnClicked(): void {
  currentValue.value = !currentValue.value;
  emit('change', currentValue.value);
}
</script>
<template>
  <button
    class="swap px-3 py-1"
    :class="{ 'swap-active': currentValue }"
    @click="onSwitchBtnClicked"
  >
    <div class="swap-on text-success flex items-center gap-2">
      <IconPanel
        :icon-info="{ icon: getIcon('mdi', 'toggle-switch'), size: 3 }"
      ></IconPanel>
      {{ la.t('.enabled') }}
    </div>
    <div class="swap-off text-base-300 flex items-center gap-2">
      <IconPanel
        :icon-info="{
          icon: getIcon('mdi', 'toggle-switch-off-outline'),
          size: 3
        }"
      ></IconPanel>
      {{ la.t('.disabled') }}
    </div>
  </button>
</template>
