<script setup lang="ts">
import { ref, watch } from 'vue';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';

const props = defineProps({
  current: {
    type: String,
    default: ''
  },
  inputKlass: {
    type: String,
    default: ''
  },
  iconKlass: {
    type: String,
    default: ''
  },
  placeholder: {
    type: String,
    default: undefined
  }
});

const currentValue = ref(String(props.current));
const inputValue = ref(String(props.current));
const inPlaceInput = ref();

const emit = defineEmits<{
  change: [{ value: string; event: Event }];
  input: [{ value: string; event: Event }];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentValue.value = String(newValue);
    inputValue.value = String(newValue);
  }
);

function triggerChange(event: Event): void {
  const newValue = inputValue.value.trim();
  emit('change', { value: newValue, event });
}

function applyChange(givenValue: string | undefined = undefined): void {
  const newValue =
    givenValue !== undefined ? String(givenValue) : inputValue.value.trim();
  inputValue.value = newValue;
  currentValue.value = newValue;
}

function cancelChange(): void {
  inputValue.value = currentValue.value;
}

function select(): void {
  inPlaceInput.value.select();
}

defineExpose({ applyChange, cancelChange, select });
</script>
<template>
  <div class="relative bg-base-100">
    <input
      ref="inPlaceInput"
      v-model="inputValue"
      class="w-full outline-0 bg-transparent z-20"
      :class="props.inputKlass"
      :placeholder="props.placeholder"
      @input="(event) => emit('input', { value: inputValue, event })"
      @keyup.escape="cancelChange"
      @keyup.enter="triggerChange"
      @blur="triggerChange"
    />
    <IconPanel
      :icon-info="{ icon: getIcon('mdi', 'lead-pencil'), size: 1.5 }"
      class="absolute bottom-0 right-0 text-base-200 z-10 pointer-events-none"
      :class="props.iconKlass"
    />
  </div>
</template>
