<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor, localeNameMap } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import * as Selection from '@base-workspace/bw-selection';
import { SelectorDialog } from '@base-workspace/bw-dialog';

const emit = defineEmits<{
  select: [value: string];
}>();

const la = new LocaleActor();
const selectorDialog = ref();

const globalI18n = useI18n({ useScope: 'global' });
const localeOptions = computed<Selection.SelectionOption[]>(() => {
  return globalI18n.availableLocales.map((localeValue) => {
    return {
      value: localeValue,
      label: localeNameMap(globalI18n)[localeValue]
    };
  });
});

function onLocaleSelected(selectedLocale: string): void {
  globalI18n.locale.value = selectedLocale;
  emit('select', selectedLocale);
}

function toggleDialog(): void {
  selectorDialog.value.toggleDialog();
}
defineExpose({ toggleDialog });
</script>

<template>
  <SelectorDialog
    ref="selectorDialog"
    :dialog-option="{
      enableOutsideClose: true,
      klass: 'w-full md:max-w-lg'
    }"
    :options="localeOptions"
    :current="globalI18n.locale.value as string"
    @select="onLocaleSelected"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel :icon-info="{ icon: getIcon('mdi', 'earth'), size: 1.5 }" />
        <div class="text-xl">
          {{ la.t('locale.title') }}
        </div>
      </div>
    </template>
  </SelectorDialog>
</template>
