<script setup lang="ts">
import { ref, watch, type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LOCALE_MAP } from '../locales/index';
import ThemeSelector from './ThemeSelector.vue';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.theme', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  },
  options: {
    type: Array as PropType<string[]>,
    default: () => {
      return [];
    }
  }
});

const currentTheme = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentTheme.value = newValue;
  }
);

function onThemeChanged(theme: string): void {
  emit('change', theme);
}
</script>
<template>
  <BlockPanel class="p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          class="mr-2"
          :icon-info="{
            icon: getIcon('mdi', 'palette-swatch-variant'),
            size: 1.2
          }"
        />
        {{ la.t('.title') }}
      </div>
    </template>
    <ThemeSelector
      :current="current"
      :options="props.options"
      @change="onThemeChanged"
    ></ThemeSelector>
  </BlockPanel>
</template>
