<script setup lang="ts">
import { ref, watch, type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales/index';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.theme', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  },
  options: {
    type: Array as PropType<string[]>,
    default: () => {
      return [];
    }
  }
});

const currentTheme = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentTheme.value = newValue;
  }
);

function onThemeSelected(theme: string): void {
  emit('change', theme);
}
</script>
<template>
  <div class="m-auto w-full grid grid-cols-1 md:grid-cols-2 gap-3">
    <label
      v-for="theme in props.options"
      :key="theme"
      class="border rounded-lg cursor-pointer"
      :data-theme="theme"
    >
      <div
        class="p-3 pb-0 bg-cover bg-left-bottom overflow-hidden flex flex-col gap-2"
        :class="`bg-banner-${theme}`"
      >
        <div class="flex gap-3 mb-6">
          <input
            v-model="currentTheme"
            type="radio"
            class="radio"
            name="theme"
            :value="theme"
            @input="onThemeSelected(theme)"
          />
          <span class="grow text-lg">
            {{ la.t(`.options.${theme}`) }}
          </span>
          <div class="justify-end grid grid-cols-6 md:grid-cols-3 gap-1">
            <IconPanel
              class="text-base-content"
              :icon-info="{ icon: getIcon('mdi', 'square-outline') }"
            ></IconPanel>
            <IconPanel
              class="text-secondary"
              :icon-info="{ icon: getIcon('mdi', 'square') }"
            ></IconPanel>
            <IconPanel
              class="text-primary"
              :icon-info="{ icon: getIcon('mdi', 'square') }"
            ></IconPanel>
            <IconPanel
              class="text-base-200"
              :icon-info="{ icon: getIcon('mdi', 'square') }"
            ></IconPanel>
            <IconPanel
              class="text-base-300"
              :icon-info="{ icon: getIcon('mdi', 'square') }"
            ></IconPanel>
            <IconPanel
              class="text-base-content"
              :icon-info="{ icon: getIcon('mdi', 'square') }"
            ></IconPanel>
          </div>
        </div>
      </div>
    </label>
  </div>
</template>
