<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { AboutPageLayout } from '@base-workspace/bw-layout';
import Layout from '../components/app/Layout.vue';
import logoImg from '../assets/images/app/logo-main.svg';
import appStatic from '../static/app.json';
import planStatic from '../static/plan.json';
import creditsStatic from '../static/credits.json';
import buildLicenses from '../build/licenses.json';
import { AboutPanel } from '../services/plan';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor();

onActivated(() => {
  coreStore.currentPageCode = 'about';
});
</script>

<template>
  <Layout :enable-toolbar-hidden="true" :enable-menu-btn-only-toolbar="true">
    <AboutPageLayout
      :logo-image="logoImg"
      :slogan="la.t('app.service.slogan') as string"
      :app-version="`v${appStatic.version}`"
      :plan-category="planStatic.category"
      :plan-code="planStatic.code"
      :credits-data="creditsStatic"
      :licenses-data="buildLicenses"
    >
      <template #app-name>
        <div
          class="text-xl"
          :style="{
            color: appStatic.mainColor
          }"
        >
          {{ la.t('app.service.name') }}
        </div>
      </template>
      <template #app-description>
        <AboutPanel
          :app-link="appStatic.appUrl"
          :repo-link="appStatic.repoUrl"
          :donate-link="appStatic.donateUrl"
          :promo-link="appStatic.promoUrl"
        ></AboutPanel>
        <button
          class="p-0 -mb-8 cursor-default text-transparent bg-transparent border-transparent"
          tabindex="-1"
          @click="router.push({ name: 'dev' })"
        >
          OOO
        </button>
      </template>
    </AboutPageLayout>
  </Layout>
</template>
