<script setup lang="ts">
import { ref } from 'vue';
import { Html5Qrcode, Html5QrcodeScannerState } from 'html5-qrcode';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BaseDialog } from '@base-workspace/bw-dialog';
import { getIcon, IconPanel, IconTextBtn } from '@base-workspace/bw-icon';

const emit = defineEmits<{
  read: [value: string];
}>();

const la = new LocaleActor('pages.sender.ConnectionCodeScannerDialog');
const dialog = ref();
const html5QrCode = ref<Html5Qrcode | null>(null);
const scannerStartError = ref<Error | null>(null);
const foundCode = ref<string | null>(null);

function onDialogOpened(): void {
  foundCode.value = null;
  html5QrCode.value = new Html5Qrcode('code_scanner', true);
  html5QrCode.value
    .start(
      { facingMode: 'environment' },
      { fps: 10 },
      (decodedText) => {
        onCodeRead(decodedText);
      },
      () => {
        // (errorMsg, error) => {
        // console.log('scan errorMsg', errorMsg);
        // console.log('scan error', error);
      }
    )
    .catch((error) => {
      scannerStartError.value = error;
    });
}

async function onDialogClosed(): Promise<void> {
  if (html5QrCode.value) {
    if (html5QrCode.value.getState() === Html5QrcodeScannerState.SCANNING) {
      await html5QrCode.value.stop();
    }
    html5QrCode.value = null;
  }
}

function onCodeRead(readCode: string): void {
  foundCode.value = readCode;
  const code = readCode.slice(-16);
  if (code.length !== 16) {
    return;
  }
  if (/^\d{16}$/.test(code)) {
    emit('read', code);
    closeDialog();
  }
}

function openDialog(): void {
  dialog.value.openDialog();
}

function closeDialog(): void {
  dialog.value.closeDialog();
}

defineExpose({ openDialog, closeDialog });
</script>

<template>
  <BaseDialog
    ref="dialog"
    :dialog-option="{
      klass: 'w-full max-w-lg max-h-full',
      enableCloseBtn: false
    }"
    @open="onDialogOpened"
    @close="onDialogClosed"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{ icon: getIcon('mdi', 'qrcode-scan'), size: 1.5 }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t('.title') }}
        </div>
      </div>
    </template>
    <div class="min-h-0 flex flex-col justify-between items-stretch">
      <div
        class="flex-1 bg-base-content flex flex-col justify-center items-center overflow-hidden"
      >
        <div id="code_scanner" class="max-w-xl w-full"></div>
        <div v-if="scannerStartError" class="max-w-sm">
          <div role="alert" class="alert alert-error">
            <IconPanel
              :icon-info="{
                icon: getIcon('mdi', 'alert-outline'),
                size: 1.5
              }"
            />
            <span>
              {{ la.t('.scannerStartError') }}
            </span>
          </div>
        </div>
      </div>
      <div v-if="foundCode" class="flex-none flex items-center justify-center">
        <div class="border p-3">
          {{ foundCode }}
        </div>
      </div>
      <div class="flex-none m-5 flex items-center justify-center">
        <div class="flex flex-col gap-3">
          <div class="text-primary max-w-sm flex items-center gap-3">
            <IconPanel
              class="flex-none"
              :icon-info="{
                icon: getIcon('mdi', 'scan-helper'),
                size: 1.5
              }"
            />
            <span>
              {{ la.t('.scannerHint') }}
            </span>
          </div>
        </div>
      </div>
      <div class="flex-none w-full grid">
        <IconTextBtn
          class="btn-ghost"
          :icon-info="{ icon: getIcon('mdi', 'close') }"
          :text="la.t('core.action.close') as string"
          @click="closeDialog()"
        ></IconTextBtn>
      </div>
    </div>
  </BaseDialog>
</template>
