<script setup lang="ts">
import { ref, onActivated } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { Startup, useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as PageGuide from '@base-workspace/bw-page-guide';
import { PageHeader } from '@base-workspace/bw-layout';
import { IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { LocaleSelectorDialog } from '@base-workspace/bw-locale-ui';
import { IconPanel } from '@base-workspace/bw-icon';
import { PAGES } from '../services/page-def';
import buildMetadata from '../build/metadata.json';
import Layout from '../components/app/Layout.vue';
import TrademarkPanel from '../components/app/TrademarkPanel.vue';

const coreStore = useCoreStore();
const i18n = useI18n({ useScope: 'global' });
Startup.init(coreStore, i18n, buildMetadata);

const router = useRouter();
const route = useRoute();

const la = new LocaleActor();
const localeSelectorDialog = ref();

const pageList = ref<PageGuide.PageGuideData[]>([]);

onActivated(() => {
  coreStore.currentPageCode = 'entry';
  pageList.value = PageGuide.buildPageList(PAGES, [
    'sender',
    'receiver',
    'settings'
  ]);
  if (route.query.code) {
    setTimeout(() => {
      router.push({
        name: 'sender_connection',
        query: { code: route.query.code }
      });
    }, 300);
  }
});

function moveToPage(pageData: PageGuide.PageGuideData): void {
  router.push(pageData.route);
}

function toggleLocaleDialog(): void {
  localeSelectorDialog.value.toggleDialog();
}

function onLocaleSelected(locale: string): void {
  coreStore.config.assign({ locale });
  coreStore.config.save();
}
</script>

<template>
  <Layout
    :enable-menu-btn-only-toolbar="true"
    :theme="coreStore.config.doc.theme"
  >
    <div
      class="h-full bg-jumbo bg-center flex justify-center items-center gap-3"
    >
      <div
        class="w-fit h-fit grid grid-rows-3 md:grid-flow-col md:grid-rows-none md:grid-cols-3 gap-8"
      >
        <button
          v-for="pm in pageList"
          :key="pm.code"
          class="p-2 rounded-lg select-none flex flex-col justify-between items-center gap-2"
          @click="moveToPage(pm)"
        >
          <div class="grow flex justify-center items-center">
            <IconPanel
              :icon-info="pm.iconInfo"
              :override="{ size: 3 }"
            ></IconPanel>
          </div>
          {{ la.t(pm.nameLk) }}
        </button>
      </div>
    </div>
    <IconTextBtn
      class="btn-ghost rounded-full absolute bottom-2 right-2 flex-row-reverse"
      :icon-info="{ icon: getIcon('mdi', 'earth') }"
      :text="la.t('locale.name') as string"
      :hide-text-on="['xs', 'sm']"
      @click="toggleLocaleDialog"
    ></IconTextBtn>
    <template #layout-fixed-top-panel>
      <PageHeader>
        <template #header-title>
          <div class="flex justify-center">
            <TrademarkPanel :show-name="true"></TrademarkPanel>
          </div>
        </template>
      </PageHeader>
    </template>
    <template #layout-top-layer>
      <LocaleSelectorDialog
        ref="localeSelectorDialog"
        @select="onLocaleSelected"
      >
      </LocaleSelectorDialog>
    </template>
  </Layout>
</template>
