<script setup lang="ts">
import { ref, computed, onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import {
  BlockPanel,
  QrCodeImage,
  LabelPanel,
  LabelInfo
} from '@base-workspace/bw-ui';
import { IconTextBtn, IconPanel, getIcon } from '@base-workspace/bw-icon';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';
import { useRemoteReceiverStore } from '../stores/remote/receiver';
import * as Pc from '../services/page-common';
import appStatic from '../static/app.json';
import { AdPanel } from '../services/plan';

const coreStore = useCoreStore();
const rrStore = useRemoteReceiverStore();

const router = useRouter();
const la = new LocaleActor('pages.receiver.connection');
const showCopied = ref<boolean>(false);

const CLIENT_LABEL_MAP: Record<string, LabelInfo> = {
  ready: {
    colorName: 'success',
    text: la.t(Pc.laKey('clientStatus.ready')) as string,
    iconInfo: { icon: getIcon('mdi', 'check') }
  },
  inAction: {
    colorName: 'info',
    text: la.t(Pc.laKey('clientStatus.inAction')) as string,
    iconInfo: { icon: getIcon('mdi', 'play') }
  }
};

const codeDisplay = computed<string>(() => {
  if (rrStore.code) {
    return rrStore.code.replace(/(\d{4})(?=\d)/g, '$1-');
  } else {
    return '';
  }
});

const senderLink = computed<string | null>(() => {
  if (rrStore.code) {
    return `${appStatic.appUrl}/#/?code=${rrStore.code}`;
  } else {
    return null;
  }
});

onActivated(async () => {
  coreStore.currentPageCode = 'receiver-connection';
  if (rrStore.status() === 'none') {
    rrStore.openRemote();
  }
});

async function onDisconnectBtnClicked() {
  await rrStore.disconnect();
}

function goToListPage() {
  router.push({ name: 'receiver_list' });
}

function copyCode() {
  navigator.clipboard.writeText(rrStore.code || '').then(() => {
    showCopied.value = true;
  });
}

async function onResetBtnClicked() {
  await rrStore.closeRemote();
  rrStore.openRemote();
}
</script>

<template>
  <Layout>
    <div class="w-full h-full p-3 overflow-y-auto">
      <template v-if="rrStore.status() === 'none'">
        <div class="w-full h-full flex items-center justify-center">
          <BlockPanel>
            <template #title>
              <div class="flex items-center text-secondary">
                <IconPanel
                  class="mr-2"
                  :icon-info="{
                    icon: getIcon('mdi', 'link-variant'),
                    size: 1.2
                  }"
                ></IconPanel>
                {{ la.t('.title') }}
              </div>
            </template>
            <div class="max-w-xs p-3 flex flex-col gap-3">
              <div>
                {{ la.t(Pc.laKey('peerNotReadyHint')) }}
              </div>
              <div class="form-control">
                <label v-if="rrStore.error !== null" class="label">
                  <span class="label-text-alt text-error">{{
                    la.t(`models.peer.error.${rrStore.error}`)
                  }}</span>
                </label>
              </div>
              <IconTextBtn
                class="flex-1 btn-primary"
                :icon-info="{
                  icon: getIcon('mdi', 'refresh')
                }"
                :text="la.t('.reset') as string"
                @click="onResetBtnClicked"
              ></IconTextBtn>
            </div>
          </BlockPanel>
        </div>
      </template>
      <template v-else>
        <div class="w-fit m-auto flex flex-col md:flex-row gap-1 md:gap-3">
          <div class="max-w-md md:max-w-lg flex flex-col gap-1">
            <BlockPanel>
              <template #title>
                <div class="flex items-center text-secondary">
                  <IconPanel
                    class="mr-2"
                    :icon-info="{
                      icon: getIcon('mdi', 'form-textbox-password'),
                      size: 1.2
                    }"
                  ></IconPanel>
                  {{ la.t(Pc.laKey('connectionCode')) }}
                </div>
              </template>
              <div class="flex flex-col md:flex-row m-3">
                <div class="flex flex-col gap-2">
                  <div>
                    {{ la.t('.receiverHint') }}
                  </div>
                  <div class="w-full flex items-center gap-2">
                    <div
                      class="flex-1 px-3 py-2.5 md:w-60 text-xl select-text cursor-text text-center border rounded"
                    >
                      {{ codeDisplay }}
                    </div>
                    <button
                      class="flex-none w-12 h-12 btn btn-square gap-2"
                      @click="copyCode"
                    >
                      <IconPanel
                        :icon-info="{
                          icon: getIcon('mdi', 'content-copy'),
                          size: 1.5
                        }"
                      ></IconPanel>
                    </button>
                  </div>
                  <Transition name="fade" @after-enter="showCopied = false">
                    <label v-if="showCopied" class="label">
                      <span class="label-text"></span>
                      <span class="label-text-alt text-success">{{
                        la.t('core.action.copied')
                      }}</span>
                    </label>
                  </Transition>
                  <div class="grow"></div>
                  <IconTextBtn
                    class="self-center"
                    :icon-info="{
                      icon: getIcon('mdi', 'refresh')
                    }"
                    :text="la.t('.reset') as string"
                    @click="onResetBtnClicked"
                  ></IconTextBtn>
                </div>
                <div class="divider md:divider-horizontal"></div>
                <div
                  v-if="rrStore.code"
                  class="flex-none flex flex-col items-center gap-2"
                >
                  <button
                    class="w-28 px-5 btn btn-link break-all"
                    @click="copyCode"
                  >
                    {{ rrStore.code }}
                  </button>
                  <QrCodeImage class="mb-4" :text="rrStore.code"></QrCodeImage>
                </div>
              </div>
            </BlockPanel>
            <BlockPanel v-if="senderLink">
              <template #title>
                <div class="flex items-center text-secondary">
                  <IconPanel
                    class="mr-2"
                    :icon-info="{
                      icon: getIcon('mdi', 'arrow-top-right'),
                      size: 1.2
                    }"
                  ></IconPanel>
                  {{ la.t('.senderLink') }}
                </div>
              </template>
              <div class="flex flex-col items-center">
                <a
                  class="btn btn-link break-all mx-3"
                  target="_blank"
                  :href="senderLink"
                  >{{ senderLink }}</a
                >
                <QrCodeImage class="mb-4" :text="senderLink"></QrCodeImage>
              </div>
            </BlockPanel>
          </div>
          <div class="w-full max-w-md flex flex-col gap-2">
            <BlockPanel class="flex-1">
              <template #title>
                <div class="flex items-center text-secondary">
                  <IconPanel
                    class="mr-2"
                    :icon-info="{
                      icon: getIcon('mdi', 'link-variant'),
                      size: 1.2
                    }"
                  ></IconPanel>
                  {{ la.t('.clients') }}
                </div>
              </template>
              <template v-if="rrStore.connectedClients.cids.length > 0">
                <div class="h-full flex flex-col">
                  <div
                    class="m-3 border rounded-lg grow h-full max-h-[30vh] md:max-h-full overflow-y-auto"
                  >
                    <div class="flex flex-col">
                      <div
                        class="border-b last:border-b-0 p-3 text-primary flex items-center gap-2"
                        v-for="(cid, index) in rrStore.connectedClients.cids"
                        :key="`${cid}_${index}`"
                      >
                        <IconPanel
                          class="flex-none"
                          :icon-info="{
                            icon: getIcon('mdi', 'link-variant'),
                            size: 1.5
                          }"
                        ></IconPanel>
                        <div class="grow overflow-hidden font-bold">
                          {{ cid }}
                        </div>
                        <LabelPanel
                          class="flex-none"
                          :info="CLIENT_LABEL_MAP[rrStore.clientStatus(cid)]"
                        ></LabelPanel>
                      </div>
                    </div>
                  </div>
                  <div class="flex-none w-full pt-0 p-3 flex justify-center">
                    <IconTextBtn
                      :icon-info="{
                        icon: getIcon('mdi', 'close')
                      }"
                      :text="la.t('.disconnect') as string"
                      @click="onDisconnectBtnClicked"
                    ></IconTextBtn>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="w-full h-full flex items-center justify-center">
                  <div class="m-8 flex flex-col items-center gap-3">
                    <IconPanel
                      :icon-info="{
                        icon: getIcon('mdi', 'link-variant'),
                        size: 3
                      }"
                    ></IconPanel>
                    {{ la.t('.noConnectedClientHint') }}
                  </div>
                </div>
              </template>
            </BlockPanel>
          </div>
        </div>
      </template>
    </div>
    <template #toolbar-main-menu>
      <div class="w-full flex justify-center items-center">
        <IconTextBtn
          class="btn-primary rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'format-list-bulleted-square') }"
          :text="la.t('.listFile') as string"
          @click="goToListPage"
        ></IconTextBtn>
      </div>
    </template>
    <template #layout-fixed-top-panel>
      <div class="w-full flex flex-col items-stretch">
        <AdPanel></AdPanel>
        <Header></Header>
      </div>
    </template>
  </Layout>
</template>

<style scoped>
.fade-enter-active {
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}

.fade-enter-from {
  opacity: 100;
}

.fade-enter-to {
  opacity: 0;
}
</style>
