<script setup lang="ts">
import { ref, computed, onActivated, nextTick, watch } from 'vue';
import { useRouter } from 'vue-router';
import { LabelPanel } from '@base-workspace/bw-ui';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import type { SortData, Uid } from '@base-workspace/bw-model';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as Selection from '@base-workspace/bw-selection';
import appLocal from '../storages/local';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';
import SideTabPanel from '../components/panel/SideTabPanel.vue';
import ItemListPanel from '../components/panel/ItemListPanel.vue';
import { SORTING_DATA_MAP, type ItemFilterOption } from '../models/item-types';
import { Item } from '../models/item';
import * as Pc from '../services/page-common';
import { useRemoteReceiverStore } from '../stores/remote/receiver';
import TextEditorDialog from '../components/dialog/TextEditorDialog.vue';
import TextQrCodeDialog from '../components/dialog/TextQrCodeDialog.vue';
import ItemDownloadDialog from '../components/dialog/ItemDownloadDialog.vue';
import ItemDeletionDialog from '../components/dialog/ItemDeletionDialog.vue';
import ItemSortingSelectorDialog from '../components/dialog/ItemSortingSelectorDialog.vue';
import SelectionOperationPanel from '../components/panel/SelectionOperationPanel.vue';
import TextOperationPanel from '../components/panel/TextOperationPanel.vue';
import SearchOperationPanel from '../components/panel/SearchOperationPanel.vue';
import FileOperationPanel from '../components/panel/FileOperationPanel.vue';
import SearchFormPanel from '../components/panel/SearchFormPanel.vue';
import { AdPanel } from '../services/plan';

const coreStore = useCoreStore();
const rrStore = useRemoteReceiverStore();
const router = useRouter();

const la = new LocaleActor('pages.receiver.list');
const items = ref<Item[]>([]);

const selectedItemUids = ref<string[]>([]);
const currentSidePanelTab = ref<string>('none');
const sidePanelTabs: Selection.SelectionOption[] = [
  {
    value: 'selection',
    iconInfo: { icon: getIcon('mdi', 'checkbox-marked-outline') }
  },
  {
    value: 'search',
    iconInfo: { icon: getIcon('mdi', 'magnify') }
  }
];
const filterOpt = ref<ItemFilterOption>({
  keyword: '',
  statuses: [],
  formats: []
});
const itemDeletionDialog = ref();
const itemDownloadDialog = ref();
const sortingOpt = ref<string>('createdDt_desc');
const sortingSelectorDialog = ref();
const textEditorDialog = ref();
const textQrCodeDialog = ref();
const searchFormPanel = ref();

const sortingData = computed<SortData>(() => {
  const data = SORTING_DATA_MAP[sortingOpt.value];
  if (data) {
    return data;
  } else {
    return SORTING_DATA_MAP['createdDt_desc'];
  }
});

const filteredItems = computed<Item[]>(() => {
  if (currentSidePanelTab.value === 'search') {
    return Item.filterItems(items.value as Item[], filterOpt.value);
  } else {
    return Item.filterItems(items.value as Item[], {
      sort: filterOpt.value.sort
    });
  }
});

const selectedItem = computed<Item | null>(() => {
  if (selectedItemUids.value.length === 1) {
    return items.value.filter(
      (item) => item.uid === selectedItemUids.value[0]
    )[0] as Item;
  } else {
    return null;
  }
});

const selectedItems = computed<Item[]>(() => {
  if (selectedItemUids.value.length > 0) {
    return items.value.filter((item) =>
      selectedItemUids.value.includes(item.uid || '')
    ) as Item[];
  } else {
    return [];
  }
});

const sidePanelMarks = computed<string[]>(() => {
  const marks: string[] = [];
  if (selectedItemUids.value.length > 0) {
    marks.push('selection');
  }
  if (!isEmptySearchOption.value) {
    marks.push('search');
  }
  return marks;
});

const receivingTUids = computed<Uid[]>(() => {
  return Object.keys(rrStore.progressMap);
});

const isEmptySearchOption = computed<boolean>(() => {
  return (
    filterOpt.value.keyword === '' &&
    filterOpt.value.statuses?.length === 0 &&
    filterOpt.value.formats?.length === 0
  );
});

onActivated(async () => {
  coreStore.currentPageCode = 'receiver-list';
  sortingOpt.value =
    appLocal.read('lastReceiverItemsSorting') || 'createdDt_desc';
  filterOpt.value.sort = SORTING_DATA_MAP[sortingOpt.value].sort;
  await fetchItems();
  const itemsToCancel = Item.filterItems(items.value, {
    statuses: ['processing']
  });
  itemsToCancel.forEach(async (item) => {
    if (rrStore.progressMap[item.tUid] === undefined) {
      await item.abort();
    }
  });
});

watch(
  () => receivingTUids.value,
  () => {
    fetchItems();
  }
);

async function fetchItems() {
  items.value = await Item.fetchItems({ itemType: 'receiver' });
}

function toggleSearch() {
  if (currentSidePanelTab.value !== 'search') {
    currentSidePanelTab.value = 'search';
    nextTick(() => {
      searchFormPanel.value.focusKeywordInput();
    });
  } else {
    currentSidePanelTab.value = 'none';
  }
}

function toggleSorting() {
  sortingSelectorDialog.value.toggleDialog();
}

function onSortingSelected(value: string) {
  appLocal.write('lastReceiverItemsSorting', value);
  sortingOpt.value = value;
  filterOpt.value.sort = SORTING_DATA_MAP[sortingOpt.value].sort;
}

function onSelectionActionTriggered(action: string): void {
  switch (action) {
    case 'clear':
      selectedItemUids.value = [];
      currentSidePanelTab.value = 'none';
      break;
    case 'select_all':
      selectedItemUids.value = items.value.map((item) => item.uid || '');
      currentSidePanelTab.value = 'selection';
      break;
    case 'reverse':
      selectedItemUids.value = items.value
        .filter((item) => {
          return !selectedItemUids.value.includes(item.uid || '');
        })
        .map((item) => item.uid || '');
      currentSidePanelTab.value = 'selection';
      break;
  }
}

function onTextActionActionTriggered(action: string): void {
  switch (action) {
    case 'edit':
      textEditorDialog.value.openDialog();
      break;
    case 'generate_qrcode':
      textQrCodeDialog.value.openDialog();
      break;
  }
}

function onSearchActionTriggered(action: string): void {
  switch (action) {
    case 'clear':
      filterOpt.value = {
        keyword: '',
        statuses: [],
        formats: [],
        sort: sortingData.value.sort
      };
      break;
    case 'select':
      selectedItemUids.value = [
        ...new Set([
          ...selectedItemUids.value,
          ...filteredItems.value.map((item) => item.uid || '')
        ])
      ];
      currentSidePanelTab.value = 'selection';
      break;
  }
}

async function onFileActionTriggered(action: string): Promise<void> {
  switch (action) {
    case 'download':
      itemDownloadDialog.value.openDialog();
      break;
    case 'delete':
      itemDeletionDialog.value.openDialog();
      break;
  }
}

async function onDeleteItemConfirmed() {
  for (const item of selectedItems.value) {
    await item.delete();
  }
  await fetchItems();
  selectedItemUids.value = [];
  itemDeletionDialog.value.closeDialog();
}

async function onItemTextUpdated(content: string) {
  if (selectedItem.value) {
    selectedItem.value.assignFileString(content);
    await selectedItem.value.save();
    textEditorDialog.value.closeDialog();
  }
}

function goToConnectionPage() {
  router.push({ name: 'receiver_connection' });
}
</script>

<template>
  <Layout :enable-toolbar-hidden="true">
    <div class="h-full flex flex-col lg:flex-row">
      <div class="overflow-y-auto flex-1">
        <div class="flex flex-col">
          <div
            v-for="item in filteredItems"
            :key="item.uid"
            class="flex gap-3 p-3 border-t"
          >
            <label class="self-stretch cursor-pointer">
              <input
                type="checkbox"
                v-model="selectedItemUids"
                :id="`item-${item.uid}`"
                class="checkbox"
                :value="item.uid"
                @change="currentSidePanelTab = 'selection'"
              />
            </label>
            <label
              class="cursor-pointer text-primary"
              :for="`item-${item.uid}`"
            >
              <IconPanel
                :icon-info="item.formatLabelInfo(la).iconInfo"
                :override="{ size: 3 }"
              ></IconPanel>
            </label>
            <div class="flex flex-col gap-1">
              <label
                class="cursor-pointer flex flex-wrap items-center gap-3"
                :for="`item-${item.uid}`"
              >
                <LabelPanel
                  :info="
                    Pc.fetchListItemLabelInfo(
                      la,
                      'receiver',
                      item,
                      rrStore.progressMap[item.tUid] !== undefined
                    )
                  "
                  class="w-fit"
                ></LabelPanel>
                <div class="flex items-center gap-2">
                  <IconPanel
                    class="text-secondary"
                    :icon-info="{
                      icon: getIcon('mdi', 'database'),
                      size: 1.5
                    }"
                  ></IconPanel>
                  {{ item.sizeDisplay(la) }}
                </div>
                <div class="flex items-center gap-2">
                  <IconPanel
                    class="text-secondary"
                    :icon-info="{
                      icon: getIcon('mdi', 'clock-outline'),
                      size: 1.5
                    }"
                  ></IconPanel>
                  {{ item.createdDt.toLocaleString() }}
                </div>
              </label>
              <div
                class="text-primary text-lg select-text cursor-text break-all"
              >
                {{ item.fileName }}
              </div>
              <progress
                v-if="rrStore.progressMap[item.tUid] !== undefined"
                class="progress progress-info w-full max-w-md"
                :value="rrStore.progressMap[item.tUid]"
                :max="100"
              ></progress>
            </div>
            <label
              class="flex-1 cursor-pointer"
              :for="`item-${item.uid}`"
            ></label>
          </div>
        </div>
      </div>
      <div
        v-if="sidePanelMarks.length > 0 || currentSidePanelTab !== 'none'"
        class="max-h-[50vh] lg:max-w-[30rem] lg:max-h-full shadow-top lg:shadow-left"
      >
        <div class="h-full border flex">
          <SideTabPanel
            position="left"
            :current="currentSidePanelTab"
            :options="sidePanelTabs"
            :marked-values="sidePanelMarks"
            @select="(value) => (currentSidePanelTab = value)"
          ></SideTabPanel>
          <div
            v-if="currentSidePanelTab !== 'none'"
            class="flex-1 m-3 overflow-y-auto"
          >
            <div v-if="currentSidePanelTab === 'search'" class="h-full">
              <div class="w-full h-full flex flex-col gap-3">
                <SearchFormPanel
                  ref="searchFormPanel"
                  v-model="filterOpt"
                ></SearchFormPanel>
                <div>
                  {{
                    la.t(Pc.laKey('searchCountHint'), {
                      count: filteredItems.length,
                      total: items.length
                    })
                  }}
                </div>
                <div class="flex-1"></div>
                <SearchOperationPanel
                  v-if="!isEmptySearchOption"
                  :enabled-actions="
                    filteredItems.length > 0 ? ['clear', 'select'] : ['clear']
                  "
                  @trigger="onSearchActionTriggered"
                ></SearchOperationPanel>
              </div>
            </div>
            <div v-if="currentSidePanelTab === 'selection'" class="h-full">
              <div
                v-if="selectedItem"
                class="w-full h-full flex flex-col gap-3"
              >
                <div class="break-all">
                  {{
                    la.t(Pc.laKey('singleSelectionHint'), {
                      target: selectedItem.fileName
                    })
                  }}
                </div>
                <div class="flex flex-wrap gap-3">
                  <LabelPanel
                    :info="selectedItem.statusLabelInfo(la)"
                    class="w-fit"
                  ></LabelPanel>
                  <div class="flex items-center gap-2">
                    <IconPanel
                      class="text-secondary"
                      :icon-info="{
                        icon: getIcon('mdi', 'database'),
                        size: 1.5
                      }"
                    ></IconPanel>
                    {{ selectedItem.sizeDisplay(la) }}
                  </div>
                  <div class="flex items-center gap-2">
                    <IconPanel
                      class="text-secondary"
                      :icon-info="{
                        icon: getIcon('mdi', 'clock-outline'),
                        size: 1.5
                      }"
                    ></IconPanel>
                    {{ selectedItem.createdDt.toLocaleString() }}
                  </div>
                </div>
                <div class="flex-1"></div>
                <FileOperationPanel
                  :enabled-actions="['download', 'delete']"
                  :item="selectedItem"
                  @trigger="onFileActionTriggered"
                ></FileOperationPanel>
                <TextOperationPanel
                  v-if="selectedItem.isText"
                  :enabled-actions="
                    selectedItem.format === 'link'
                      ? [
                          'edit',
                          'copy_to_clipboard',
                          'generate_qrcode',
                          'open_link'
                        ]
                      : ['edit', 'copy_to_clipboard', 'generate_qrcode']
                  "
                  :file-string="selectedItem.fileString"
                  @trigger="onTextActionActionTriggered"
                ></TextOperationPanel>
                <SelectionOperationPanel
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
              <div
                v-if="selectedItemUids.length === 0"
                class="w-full h-full flex flex-col gap-3"
              >
                <div class="mb-3">
                  {{ la.t(Pc.laKey('noSelectionHint')) }}
                </div>
                <div class="flex-1"></div>
                <SelectionOperationPanel
                  :enabled-actions="['select_all']"
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
              <div
                v-if="selectedItemUids.length > 1"
                class="w-full h-full flex flex-col gap-3"
              >
                <ItemListPanel :items="selectedItems"></ItemListPanel>
                <div>
                  {{
                    la.t(Pc.laKey('multiSelectionHint'), {
                      count: selectedItemUids.length,
                      total: items.length
                    })
                  }}
                </div>
                <div class="flex-1"></div>
                <FileOperationPanel
                  :enabled-actions="['download', 'delete']"
                  @trigger="onFileActionTriggered"
                ></FileOperationPanel>
                <SelectionOperationPanel
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden p-0 h-full overflow-y-auto"></div>
    <template #layout-fixed-top-panel>
      <div class="w-full flex flex-col items-stretch">
        <AdPanel></AdPanel>
        <Header></Header>
      </div>
    </template>
    <template #toolbar-main-menu>
      <div class="w-full flex items-center justify-center gap-2">
        <IconTextBtn
          class="btn-primary rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'connection') }"
          :text="la.t('pages.receiver.connection.title') as string"
          :hide-text-on="['xs', 'sm']"
          @click="goToConnectionPage"
        ></IconTextBtn>
        <IconTextBtn
          class="btn-ghost rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'magnify') }"
          :text="la.t('core.action.search') as string"
          :hide-text-on="['xs', 'sm']"
          @click="toggleSearch()"
        ></IconTextBtn>
        <button
          class="btn btn-ghost rounded-full flex items-center"
          @click="toggleSorting()"
        >
          <IconPanel
            :icon-info="{
              icon: getIcon('mdi', 'sort-variant'),
              size: 1.5
            }"
          ></IconPanel>
          <IconPanel
            :icon-info="{
              icon: sortingData.icon,
              size: 1.5
            }"
          ></IconPanel>
          <div class="hidden md:block ml-1">
            {{ la.t(`models.item.sort.${sortingOpt}`) }}
          </div>
        </button>
      </div>
    </template>
    <template #layout-top-layer>
      <ItemDeletionDialog
        ref="itemDeletionDialog"
        :items="selectedItems"
        :hint="la.t('.deleteHint') as string"
        @confirm="onDeleteItemConfirmed"
      ></ItemDeletionDialog>
      <ItemDownloadDialog
        ref="itemDownloadDialog"
        :items="selectedItems"
      ></ItemDownloadDialog>
      <TextEditorDialog
        ref="textEditorDialog"
        :content="selectedItem?.fileString || ''"
        @update="onItemTextUpdated"
      ></TextEditorDialog>
      <TextQrCodeDialog
        ref="textQrCodeDialog"
        :content="selectedItem?.fileString || ''"
      ></TextQrCodeDialog>
      <ItemSortingSelectorDialog
        ref="sortingSelectorDialog"
        :current="sortingOpt"
        @select="onSortingSelected"
      >
      </ItemSortingSelectorDialog>
    </template>
  </Layout>
</template>
