<script setup lang="ts">
import { ref, onActivated, nextTick, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LabelPanel, LabelInfo, BlockPanel } from '@base-workspace/bw-ui';
import { IconTextBtn, IconPanel, getIcon } from '@base-workspace/bw-icon';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';
import { useRemoteSenderStore } from '../stores/remote/sender';
import * as Pc from '../services/page-common';
import ConnectionCodeScannerDialog from './ConnectionCodeScannerDialog.vue';
import { AdPanel } from '../services/plan';

const coreStore = useCoreStore();
const rsStore = useRemoteSenderStore();

const router = useRouter();
const route = useRoute();
const la = new LocaleActor('pages.sender.connection');

const distCode = ref<string>('');
const distCodeInput = ref();
const isInConnecting = ref<boolean>(false);
const connectionCodeScannerDialog = ref();

const CLIENT_LABEL_MAP: Record<string, LabelInfo> = {
  connected: {
    colorName: 'warning',
    text: la.t(Pc.laKey('clientStatus.connected')) as string,
    iconInfo: { icon: getIcon('mdi', 'dots-circle') }
  },
  ready: {
    colorName: 'success',
    text: la.t(Pc.laKey('clientStatus.ready')) as string,
    iconInfo: { icon: getIcon('mdi', 'check') }
  },
  inAction: {
    colorName: 'info',
    text: la.t(Pc.laKey('clientStatus.inAction')) as string,
    iconInfo: { icon: getIcon('mdi', 'play') }
  }
};

if (route.query.code) {
  distCode.value = route.query.code as string;
  formatDistCode();
}

const isCodeValid = computed<boolean>(() => {
  return distCode.value.length === 19;
});

onActivated(async () => {
  coreStore.currentPageCode = 'sender-connection';
  nextTick(() => {
    if (distCodeInput.value) {
      distCodeInput.value.focus();
    }
  });
});

function goToListPage() {
  router.push({ name: 'sender_list' });
}

function onConnectBtnClicked() {
  rsStore.connect(distCode.value.replace(/\D/g, ''));
  isInConnecting.value = true;
  setTimeout(() => {
    isInConnecting.value = false;
  }, 10000);
}

function onDisconnectBtnClicked() {
  rsStore.disconnect();
  isInConnecting.value = false;
}

function formatDistCode() {
  distCode.value = distCode.value
    .replace(/\D/g, '')
    .replace(/(\d{4})(?=\d)/g, '$1-')
    .slice(0, 19);
}

function onCodeScanBtnClicked(): void {
  connectionCodeScannerDialog.value.openDialog();
}

function onCodeRead(code: string): void {
  distCode.value = code
    .replace(/\D/g, '')
    .replace(/(\d{4})(?=\d)/g, '$1-')
    .slice(0, 19);
  onConnectBtnClicked();
}
</script>

<template>
  <Layout>
    <div class="w-full h-full p-3 flex items-center justify-center">
      <div class="w-full max-w-sm">
        <template v-if="rsStore.clientStatus === 'none'">
          <BlockPanel>
            <template #title>
              <div class="flex items-center text-secondary">
                <IconPanel
                  class="mr-2"
                  :icon-info="{
                    icon: getIcon('mdi', 'form-textbox-password'),
                    size: 1.2
                  }"
                ></IconPanel>
                {{ la.t(Pc.laKey('connectionCode')) }}
              </div>
            </template>
            <div class="m-3 flex flex-col gap-3">
              <div>
                {{ la.t('.senderHint') }}
              </div>
              <span
                v-if="isInConnecting"
                class="self-center loading loading-spinner loading-md text-base-300"
              ></span>
              <div class="form-control">
                <div class="w-full flex items-center gap-2">
                  <input
                    v-model="distCode"
                    ref="distCodeInput"
                    type="tel"
                    pattern="[0-9]*"
                    inputmode="numeric"
                    :placeholder="la.t(Pc.laKey('connectionCode')) as string"
                    class="input input-bordered text-center text-xl"
                    @input="formatDistCode"
                  />
                  <button
                    class="flex-none w-12 h-12 btn btn-square gap-2"
                    @click="onCodeScanBtnClicked"
                  >
                    <IconPanel
                      :icon-info="{
                        icon: getIcon('mdi', 'qrcode-scan'),
                        size: 1.5
                      }"
                    ></IconPanel>
                  </button>
                </div>
                <label v-if="rsStore.error !== null" class="label">
                  <span class="label-text-alt text-error">{{
                    la.t(`models.peer.error.${rsStore.error.code}`)
                  }}</span>
                </label>
              </div>
              <IconTextBtn
                class="btn-primary"
                :icon-info="{ icon: getIcon('mdi', 'check') }"
                :text="la.t('.connect') as string"
                :disabled="!isCodeValid || isInConnecting"
                @click="onConnectBtnClicked"
              ></IconTextBtn>
            </div>
          </BlockPanel>
        </template>
        <template v-else>
          <BlockPanel>
            <template #title>
              <div class="flex items-center text-secondary">
                <IconPanel
                  class="mr-2"
                  :icon-info="{
                    icon: getIcon('mdi', 'link-variant'),
                    size: 1.2
                  }"
                ></IconPanel>
                {{ la.t('.title') }}
              </div>
            </template>
            <div class="m-5 mt-1 flex flex-col items-center gap-3">
              <div>
                {{ la.t('.readyHint', { dist: distCode || '' }) }}
              </div>
              <IconPanel
                class="m-5"
                :icon-info="{
                  icon: getIcon('mdi', 'arrow-top-right'),
                  size: 6.0
                }"
              ></IconPanel>
              <div class="mb-3 flex items-center gap-3">
                <div class="font-bold">ID: {{ rsStore.clientId }}</div>
                <LabelPanel
                  class="flex-none"
                  :info="CLIENT_LABEL_MAP[rsStore.clientStatus]"
                ></LabelPanel>
              </div>
              <IconTextBtn
                :icon-info="{
                  icon: getIcon('mdi', 'close')
                }"
                :text="la.t(Pc.laKey('disconnect')) as string"
                @click="onDisconnectBtnClicked"
              ></IconTextBtn>
            </div>
          </BlockPanel>
        </template>
      </div>
    </div>
    <template #toolbar-main-menu>
      <div class="w-full flex justify-center items-center">
        <IconTextBtn
          class="btn-primary rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'format-list-bulleted-square') }"
          :text="la.t('.listFile') as string"
          @click="goToListPage"
        ></IconTextBtn>
      </div>
    </template>
    <template #layout-top-layer>
      <ConnectionCodeScannerDialog
        ref="connectionCodeScannerDialog"
        @read="onCodeRead"
      >
      </ConnectionCodeScannerDialog>
    </template>
    <template #layout-fixed-top-panel>
      <div class="w-full flex flex-col items-stretch">
        <AdPanel></AdPanel>
        <Header></Header>
      </div>
    </template>
  </Layout>
</template>
