<script setup lang="ts">
import { ref, computed, watch, onActivated, nextTick } from 'vue';
import { useRouter } from 'vue-router';
import { LabelPanel } from '@base-workspace/bw-ui';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import type { SortData, Uid } from '@base-workspace/bw-model';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BaseDialog } from '@base-workspace/bw-dialog';
import * as Selection from '@base-workspace/bw-selection';
import appLocal from '../storages/local';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';
import SideTabPanel from '../components/panel/SideTabPanel.vue';
import ItemListPanel from '../components/panel/ItemListPanel.vue';
import { useRemoteSenderStore } from '../stores/remote/sender';
import {
  SORTING_DATA_MAP,
  type ItemFilterOption,
  type ItemStatus
} from '../models/item-types';
import { Item } from '../models/item';
import * as Pc from '../services/page-common';
import TextEditorDialog from '../components/dialog/TextEditorDialog.vue';
import TextQrCodeDialog from '../components/dialog/TextQrCodeDialog.vue';
import ItemDownloadDialog from '../components/dialog/ItemDownloadDialog.vue';
import ItemDeletionDialog from '../components/dialog/ItemDeletionDialog.vue';
import ItemSortingSelectorDialog from '../components/dialog/ItemSortingSelectorDialog.vue';
import SelectionOperationPanel from '../components/panel/SelectionOperationPanel.vue';
import TextOperationPanel from '../components/panel/TextOperationPanel.vue';
import SearchOperationPanel from '../components/panel/SearchOperationPanel.vue';
import FileOperationPanel from '../components/panel/FileOperationPanel.vue';
import SearchFormPanel from '../components/panel/SearchFormPanel.vue';
import { AdPanel } from '../services/plan';

const coreStore = useCoreStore();
const rsStore = useRemoteSenderStore();

const router = useRouter();
const la = new LocaleActor('pages.sender.list');
const items = ref<Item[]>([]);

const itemTextCreationDialog = ref();
const newItemTextInput = ref();
const newItemText = ref<string>('');
const newItemError = ref<string | null>(null);
const selectedItemUids = ref<string[]>([]);
const currentSidePanelTab = ref<string>('none');
const sidePanelTabs: Selection.SelectionOption[] = [
  {
    value: 'selection',
    iconInfo: { icon: getIcon('mdi', 'checkbox-marked-outline') }
  },
  {
    value: 'search',
    iconInfo: { icon: getIcon('mdi', 'magnify') }
  }
];
const filterOpt = ref<ItemFilterOption>({
  keyword: '',
  statuses: [],
  formats: []
});
const itemDeletionDialog = ref();
const itemDownloadDialog = ref();
const sortingOpt = ref<string>('createdDt_desc');
const sortingSelectorDialog = ref();
const textEditorDialog = ref();
const textQrCodeDialog = ref();
const searchFormPanel = ref();

const sortingData = computed<SortData>(() => {
  const data = SORTING_DATA_MAP[sortingOpt.value];
  if (data) {
    return data;
  } else {
    return SORTING_DATA_MAP['createdDt_desc'];
  }
});

const filteredItems = computed<Item[]>(() => {
  if (currentSidePanelTab.value === 'search') {
    return Item.filterItems(items.value as Item[], filterOpt.value);
  } else {
    return Item.filterItems(items.value as Item[], {
      sort: filterOpt.value.sort
    });
  }
});

const selectedItem = computed<Item | null>(() => {
  if (selectedItemUids.value.length === 1) {
    return items.value.filter(
      (item) => item.uid === selectedItemUids.value[0]
    )[0] as Item;
  } else {
    return null;
  }
});

const selectedItems = computed<Item[]>(() => {
  if (selectedItemUids.value.length > 0) {
    return items.value.filter((item) =>
      selectedItemUids.value.includes(item.uid || '')
    ) as Item[];
  } else {
    return [];
  }
});

const sidePanelMarks = computed<string[]>(() => {
  const marks: string[] = [];
  if (selectedItemUids.value.length > 0) {
    marks.push('selection');
  }
  if (!isEmptySearchOption.value) {
    marks.push('search');
  }
  return marks;
});

const isEmptySearchOption = computed<boolean>(() => {
  return (
    filterOpt.value.keyword === '' &&
    filterOpt.value.statuses?.length === 0 &&
    filterOpt.value.formats?.length === 0
  );
});

const queuedItemCount = computed<number>(() => {
  return items.value.filter((item) => item.status === 'queued').length;
});

const isClipboardReadAvailable = computed<boolean>(() => {
  return (
    'clipboard' in navigator &&
    'readText' in navigator.clipboard &&
    typeof navigator.clipboard.readText === 'function'
  );
});

const singleItemActions = computed<string[]>(() => {
  if (!selectedItem.value) {
    return [];
  }
  const actions: string[] = [];
  if (rsStore.available()) {
    if (selectedItem.value.status === 'created') {
      actions.push('send');
    }
    if (
      selectedItem.value.status === 'done' ||
      selectedItem.value.status === 'cancelled'
    ) {
      actions.push('resend');
    }
    if (selectedItem.value.status === 'queued') {
      actions.push('abort');
    }
  } else {
    actions.push('connect');
  }
  actions.push('download');
  if (!rsStore.fetchTransferInfo(selectedItem.value)) {
    actions.push('delete');
  }
  return actions;
});

const multiItemActions = computed<string[]>(() => {
  const actions: string[] = [];
  if (rsStore.available()) {
    if (filterSelectedItems(['created']).length !== 0) {
      actions.push('send');
    }
    if (filterSelectedItems(['done', 'cancelled']).length !== 0) {
      actions.push('resend');
    }
    if (filterSelectedItems(['queued']).length > 0) {
      actions.push('abort');
    }
  } else {
    actions.push('connect');
  }
  actions.push('download');
  actions.push('delete');
  return actions;
});

onActivated(async () => {
  coreStore.currentPageCode = 'sender-list';
  sortingOpt.value =
    appLocal.read('lastSenderItemsSorting') || 'createdDt_desc';
  filterOpt.value.sort = SORTING_DATA_MAP[sortingOpt.value].sort;
  await fetchItems();
  const itemsToCancel = Item.filterItems(items.value, {
    statuses: ['processing']
  });
  itemsToCancel.forEach(async (item) => {
    if (rsStore.fetchTransferInfo(item) === undefined) {
      await item.abort();
    }
  });
});

watch(
  () => queuedItemCount.value,
  () => {
    findNextItemToSend();
    fetchItems();
  }
);

watch(
  () => rsStore.clientStatus,
  (status) => {
    if (status === 'ready') {
      findNextItemToSend();
    }
    fetchItems();
  }
);

async function findNextItemToSend() {
  if (rsStore.clientStatus !== 'ready') {
    return;
  }
  if (queuedItemCount.value === 0) {
    return;
  }
  const queuedItems = Item.filterItems(
    await Item.fetchItems({ itemType: 'sender' }),
    {
      statuses: ['queued'],
      sort: filterOpt.value.sort
    }
  );
  const itemToSend = queuedItems[0];
  if (itemToSend) {
    await rsStore.sendItem(itemToSend);
  }
}

async function fetchItems() {
  items.value = await Item.fetchItems({ itemType: 'sender' });
}

function filterSelectedItems(
  statuses: ItemStatus[],
  excludeTransfering: boolean = true
): Item[] {
  let items: Item[] = [];
  if (selectedItemUids.value.length > 0) {
    items = Item.filterItems(selectedItems.value, { statuses });
  }
  if (excludeTransfering) {
    items = items.filter(
      (item) => rsStore.fetchTransferInfo(item) === undefined
    );
  }
  return items;
}

async function onCreateTextItemBtnClicked() {
  const result = await Item.createItemByText(
    newItemText.value,
    'sender',
    'created'
  );
  if (result.error) {
    newItemError.value = result.error.code;
    console.log('onCreateTextItemBtnClicked', result.error);
    return;
  }
  if (result.target?.uid) {
    itemTextCreationDialog.value.closeDialog();
    newItemText.value = '';
    newItemError.value = null;
    await fetchItems();
    selectedItemUids.value = [result.target.uid];
    currentSidePanelTab.value = 'selection';
  }
}

function onCopyFromClipboardClicked() {
  if (isClipboardReadAvailable.value) {
    navigator.clipboard.readText().then((text) => {
      newItemText.value = `${newItemText.value}${text}`;
    });
  }
}

function onItemCreationDialogOpened() {
  setTimeout(() => {
    if (newItemTextInput.value) {
      newItemTextInput.value.focus();
    }
  }, 100);
}

function onItemCreationDialogClosed() {
  newItemText.value = '';
  newItemError.value = null;
}

function toggleSearch() {
  if (currentSidePanelTab.value !== 'search') {
    currentSidePanelTab.value = 'search';
    nextTick(() => {
      searchFormPanel.value.focusKeywordInput();
    });
  } else {
    currentSidePanelTab.value = 'none';
  }
}

function toggleSorting() {
  sortingSelectorDialog.value.toggleDialog();
}

function onSortingSelected(value: string) {
  appLocal.write('lastSenderItemsSorting', value);
  sortingOpt.value = value;
  filterOpt.value.sort = SORTING_DATA_MAP[sortingOpt.value].sort;
}

function onSelectionActionTriggered(action: string): void {
  switch (action) {
    case 'clear':
      selectedItemUids.value = [];
      currentSidePanelTab.value = 'none';
      break;
    case 'select_all':
      selectedItemUids.value = items.value.map((item) => item.uid || '');
      currentSidePanelTab.value = 'selection';
      break;
    case 'reverse':
      selectedItemUids.value = items.value
        .filter((item) => {
          return !selectedItemUids.value.includes(item.uid || '');
        })
        .map((item) => item.uid || '');
      currentSidePanelTab.value = 'selection';
      break;
  }
}

function onTextActionActionTriggered(action: string): void {
  switch (action) {
    case 'edit':
      textEditorDialog.value.openDialog();
      break;
    case 'generate_qrcode':
      textQrCodeDialog.value.openDialog();
      break;
  }
}

function onSearchActionTriggered(action: string): void {
  switch (action) {
    case 'clear':
      filterOpt.value = {
        keyword: '',
        statuses: [],
        formats: [],
        sort: sortingData.value.sort
      };
      break;
    case 'select':
      selectedItemUids.value = [
        ...new Set([
          ...selectedItemUids.value,
          ...filteredItems.value.map((item) => item.uid || '')
        ])
      ];
      currentSidePanelTab.value = 'selection';
      break;
  }
}

async function onFileActionTriggered(action: string): Promise<void> {
  switch (action) {
    case 'connect':
      router.push({ name: 'sender_connection' });
      break;
    case 'send':
      filterSelectedItems(['created']).forEach(async (item) => {
        await item.switchStatus('queued');
      });
      currentSidePanelTab.value = 'none';
      break;
    case 'resend':
      filterSelectedItems(['done', 'cancelled']).forEach(async (item) => {
        await item.resetToSend();
      });
      break;
    case 'abort':
      filterSelectedItems(['queued']).forEach(async (item) => {
        await item.abort();
      });
      await fetchItems();
      await findNextItemToSend();
      break;
    case 'download':
      itemDownloadDialog.value.openDialog();
      break;
    case 'delete':
      itemDeletionDialog.value.openDialog();
      break;
  }
}

async function onDeleteItemConfirmed(): Promise<void> {
  const itemUidsToDelete = filterSelectedItems([]).map(
    (item) => item.uid as string
  );
  await Item.deleteItems(itemUidsToDelete);
  selectedItemUids.value = selectedItemUids.value.filter(
    (uid) => !itemUidsToDelete.includes(uid)
  );
  itemDeletionDialog.value.closeDialog();
  await fetchItems();
  await findNextItemToSend();
}

async function onFilesSelected(event: Event) {
  const files = (event.target as HTMLInputElement).files;
  if (!files) {
    return;
  }
  const addedItemUids: Uid[] = [];
  for (const file of files) {
    const result = await Item.createItemByFile(file);
    if (result.target && result.target.uid) {
      addedItemUids.push(result.target.uid);
    }
  }
  await fetchItems();
  selectedItemUids.value = selectedItemUids.value.concat(addedItemUids);
  currentSidePanelTab.value = 'selection';
}

async function onItemTextUpdated(content: string) {
  if (selectedItem.value) {
    selectedItem.value.assignFileString(content);
    await selectedItem.value.save();
    textEditorDialog.value.closeDialog();
  }
}
</script>

<template>
  <Layout :enable-toolbar-hidden="true">
    <div class="h-full flex flex-col lg:flex-row">
      <div class="overflow-y-auto flex-1">
        <div class="flex flex-col">
          <div
            v-for="item in filteredItems"
            :key="item.uid"
            class="flex gap-3 p-3 border-t"
          >
            <label class="self-stretch cursor-pointer">
              <input
                type="checkbox"
                v-model="selectedItemUids"
                :id="`item-${item.uid}`"
                class="checkbox"
                :value="item.uid"
                @change="currentSidePanelTab = 'selection'"
              />
            </label>
            <label
              class="cursor-pointer text-primary"
              :for="`item-${item.uid}`"
            >
              <IconPanel
                :icon-info="item.formatLabelInfo(la).iconInfo"
                :override="{ size: 3 }"
              ></IconPanel>
            </label>
            <div class="flex flex-col gap-1">
              <label
                class="cursor-pointer flex flex-wrap items-center gap-3"
                :for="`item-${item.uid}`"
              >
                <LabelPanel
                  :info="
                    Pc.fetchListItemLabelInfo(
                      la,
                      'sender',
                      item,
                      rsStore.fetchTransferInfo(item) !== undefined
                    )
                  "
                  class="w-fit"
                ></LabelPanel>
                <div class="flex items-center gap-2">
                  <IconPanel
                    class="text-secondary"
                    :icon-info="{
                      icon: getIcon('mdi', 'database'),
                      size: 1.5
                    }"
                  ></IconPanel>
                  {{ item.sizeDisplay(la) }}
                </div>
                <div class="flex items-center gap-2">
                  <IconPanel
                    class="text-secondary"
                    :icon-info="{
                      icon: getIcon('mdi', 'clock-outline'),
                      size: 1.5
                    }"
                  ></IconPanel>
                  {{ item.createdDt.toLocaleString() }}
                </div>
              </label>
              <div
                class="text-primary text-lg select-text cursor-text break-all"
              >
                {{ item.fileName }}
              </div>
              <progress
                v-if="rsStore.fetchTransferInfo(item)"
                class="progress progress-info w-full max-w-md"
                :value="rsStore.fetchTransferInfo(item)?.progress"
                :max="100"
              ></progress>
            </div>
            <label
              class="flex-1 cursor-pointer"
              :for="`item-${item.uid}`"
            ></label>
          </div>
        </div>
      </div>
      <div
        v-if="sidePanelMarks.length > 0 || currentSidePanelTab !== 'none'"
        class="max-h-[50vh] lg:max-w-[30rem] lg:max-h-full shadow-top lg:shadow-left"
      >
        <div class="h-full border flex">
          <SideTabPanel
            position="left"
            :current="currentSidePanelTab"
            :options="sidePanelTabs"
            :marked-values="sidePanelMarks"
            @select="(value) => (currentSidePanelTab = value)"
          ></SideTabPanel>
          <div
            v-if="currentSidePanelTab !== 'none'"
            class="flex-1 m-3 overflow-y-auto"
          >
            <div v-if="currentSidePanelTab === 'search'" class="h-full">
              <div class="w-full h-full flex flex-col gap-3">
                <SearchFormPanel
                  ref="searchFormPanel"
                  v-model="filterOpt"
                ></SearchFormPanel>
                <div>
                  {{
                    la.t(Pc.laKey('searchCountHint'), {
                      count: filteredItems.length,
                      total: items.length
                    })
                  }}
                </div>
                <div class="flex-1"></div>
                <SearchOperationPanel
                  v-if="!isEmptySearchOption"
                  :enabled-actions="
                    filteredItems.length > 0 ? ['clear', 'select'] : ['clear']
                  "
                  @trigger="onSearchActionTriggered"
                ></SearchOperationPanel>
              </div>
            </div>
            <div v-if="currentSidePanelTab === 'selection'" class="h-full">
              <div
                v-if="selectedItem"
                class="w-full h-full flex flex-col gap-3"
              >
                <div class="break-all">
                  {{
                    la.t(Pc.laKey('singleSelectionHint'), {
                      target: selectedItem.fileName
                    })
                  }}
                </div>
                <div class="flex flex-wrap gap-3">
                  <LabelPanel
                    :info="selectedItem.statusLabelInfo(la)"
                    class="w-fit"
                  ></LabelPanel>
                  <div class="flex items-center gap-2">
                    <IconPanel
                      class="text-secondary"
                      :icon-info="{
                        icon: getIcon('mdi', 'database'),
                        size: 1.5
                      }"
                    ></IconPanel>
                    {{ selectedItem.sizeDisplay(la) }}
                  </div>
                  <div class="flex items-center gap-2">
                    <IconPanel
                      class="text-secondary"
                      :icon-info="{
                        icon: getIcon('mdi', 'clock-outline'),
                        size: 1.5
                      }"
                    ></IconPanel>
                    {{ selectedItem.createdDt.toLocaleString() }}
                  </div>
                </div>
                <div class="flex-1"></div>
                <label v-if="!rsStore.available()" class="label">
                  <span class="label-text text-error">{{
                    la.t('.connectFirstHint')
                  }}</span>
                </label>
                <FileOperationPanel
                  :enabled-actions="singleItemActions"
                  :item="selectedItem"
                  @trigger="onFileActionTriggered"
                ></FileOperationPanel>
                <TextOperationPanel
                  v-if="selectedItem.isText"
                  :enabled-actions="
                    selectedItem.format === 'link'
                      ? [
                          'edit',
                          'copy_to_clipboard',
                          'generate_qrcode',
                          'open_link'
                        ]
                      : ['edit', 'copy_to_clipboard', 'generate_qrcode']
                  "
                  :file-string="selectedItem.fileString"
                  @trigger="onTextActionActionTriggered"
                ></TextOperationPanel>
                <SelectionOperationPanel
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
              <div
                v-if="selectedItemUids.length === 0"
                class="w-full h-full flex flex-col gap-3"
              >
                <div class="mb-3">
                  {{ la.t(Pc.laKey('noSelectionHint')) }}
                </div>
                <div class="flex-1"></div>
                <SelectionOperationPanel
                  :enabled-actions="['select_all']"
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
              <div
                v-if="selectedItemUids.length > 1"
                class="w-full h-full flex flex-col gap-3"
              >
                <ItemListPanel :items="selectedItems"></ItemListPanel>
                <div>
                  {{
                    la.t(Pc.laKey('multiSelectionHint'), {
                      count: selectedItemUids.length,
                      total: items.length
                    })
                  }}
                </div>
                <div class="flex-1"></div>
                <label v-if="!rsStore.available()" class="label">
                  <span class="label-text text-error">{{
                    la.t('.connectFirstHint')
                  }}</span>
                </label>
                <FileOperationPanel
                  :enabled-actions="multiItemActions"
                  @trigger="onFileActionTriggered"
                ></FileOperationPanel>
                <SelectionOperationPanel
                  @trigger="onSelectionActionTriggered"
                ></SelectionOperationPanel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <div class="w-full flex flex-col items-stretch">
        <AdPanel></AdPanel>
        <Header></Header>
      </div>
    </template>
    <template #toolbar-main-menu>
      <div class="w-full flex items-center justify-center">
        <label class="btn btn-ghost rounded-full flex items-center gap-2">
          <input
            type="file"
            class="hidden"
            @change="onFilesSelected"
            multiple="true"
          />
          <IconPanel
            :icon-info="{
              icon: getIcon('mdi', 'file-plus'),
              size: 1.5
            }"
          ></IconPanel>
          <div class="hidden md:block">
            {{ la.t('.addFile') }}
          </div>
        </label>
        <IconTextBtn
          class="btn-ghost rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'file-edit') }"
          :text="la.t('.createFile') as string"
          :hide-text-on="['xs', 'sm']"
          @click="itemTextCreationDialog.toggleDialog()"
        ></IconTextBtn>
        <IconTextBtn
          class="btn-ghost rounded-full"
          :icon-info="{ icon: getIcon('mdi', 'magnify') }"
          :text="la.t('core.action.search') as string"
          :hide-text-on="['xs', 'sm']"
          @click="toggleSearch()"
        ></IconTextBtn>
        <button
          class="btn btn-ghost rounded-full flex items-center"
          @click="toggleSorting()"
        >
          <IconPanel
            :icon-info="{
              icon: getIcon('mdi', 'sort-variant'),
              size: 1.5
            }"
          ></IconPanel>
          <IconPanel
            :icon-info="{
              icon: sortingData.icon,
              size: 1.5
            }"
          ></IconPanel>
          <div class="hidden md:block ml-1">
            {{ la.t(`models.item.sort.${sortingOpt}`) }}
          </div>
        </button>
      </div>
    </template>
    <template #layout-top-layer>
      <BaseDialog
        ref="itemTextCreationDialog"
        :dialog-option="{
          klass: 'w-full max-w-lg'
        }"
        @open="onItemCreationDialogOpened"
        @close="onItemCreationDialogClosed"
      >
        <template #dialog-title>
          <div class="flex items-center gap-3">
            <IconPanel
              :icon-info="{
                icon: getIcon('mdi', 'file-edit'),
                size: 1.5
              }"
            ></IconPanel>
            <div class="text-xl">
              {{ la.t('.createTextItem') }}
            </div>
          </div>
        </template>
        <div class="flex flex-col gap-3">
          <div class="">
            <label v-if="newItemError !== null" class="label">
              <span class="label-text-alt text-error">{{
                la.t(`models.item.error.${newItemError}`)
              }}</span>
            </label>
            <textarea
              v-model="newItemText"
              ref="newItemTextInput"
              type="input"
              :placeholder="la.t('models.item.field.fileString.name') as string"
              class="w-full h-[30vh] textarea textarea-bordered"
            ></textarea>
          </div>
          <div class="w-full grid grid-cols-2 gap-2">
            <IconTextBtn
              v-if="isClipboardReadAvailable"
              class="col-span-2 btn-ghost"
              :icon-info="{ icon: getIcon('mdi', 'content-paste') }"
              :text="la.t('.pasteFromClipboard') as string"
              @click="onCopyFromClipboardClicked"
            ></IconTextBtn>
            <IconTextBtn
              class="btn-primary"
              :icon-info="{ icon: getIcon('mdi', 'check') }"
              :text="la.t('core.action.create') as string"
              @click="onCreateTextItemBtnClicked"
              :disabled="!newItemText"
            ></IconTextBtn>
            <IconTextBtn
              class="btn-ghost"
              :icon-info="{ icon: getIcon('mdi', 'close') }"
              :text="la.t('core.action.cancel') as string"
              @click="itemTextCreationDialog.closeDialog()"
            ></IconTextBtn>
          </div>
        </div>
      </BaseDialog>
      <ItemDeletionDialog
        ref="itemDeletionDialog"
        :items="selectedItems"
        :hint="la.t('.deleteHint') as string"
        @confirm="onDeleteItemConfirmed"
      ></ItemDeletionDialog>
      <ItemDownloadDialog
        ref="itemDownloadDialog"
        :items="selectedItems"
      ></ItemDownloadDialog>
      <TextEditorDialog
        ref="textEditorDialog"
        :content="selectedItem?.fileString || ''"
        @update="onItemTextUpdated"
      ></TextEditorDialog>
      <TextQrCodeDialog
        ref="textQrCodeDialog"
        :content="selectedItem?.fileString || ''"
      ></TextQrCodeDialog>
      <ItemSortingSelectorDialog
        ref="sortingSelectorDialog"
        :current="sortingOpt"
        @select="onSortingSelected"
      >
      </ItemSortingSelectorDialog>
    </template>
  </Layout>
</template>
