<script setup lang="ts">
import { onActivated } from 'vue';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleSelectorPanel } from '@base-workspace/bw-locale-ui';
import { FontSizeSelectorPanel } from '@base-workspace/bw-font-size';
import { ThemeSelectorPanel } from '@base-workspace/bw-theme';
import { TimeZoneSelectorPanel } from '@base-workspace/bw-time-zone';
import { THEMES } from '../services/plan';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';

const coreStore = useCoreStore();
coreStore.currentPageCode = 'settings';
const config = coreStore.config;

onActivated(() => {
  coreStore.currentPageCode = 'settings';
});

function onLocaleChanged(locale: string): void {
  config.assign({ locale });
  config.save();
}

function onTimeZoneChanged(timeZone: string): void {
  config.assign({ timeZone });
  config.save();
}

function onThemeChanged(theme: string): void {
  config.assign({ theme });
  config.save();
}

function onFontSizeChanged(fontSize: string): void {
  config.assign({ fontSize });
  config.save();
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full p-3 overflow-y-auto">
      <div class="mb-14 flex flex-col items-center">
        <LocaleSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.theme"
          @change="onLocaleChanged"
        ></LocaleSelectorPanel>
        <TimeZoneSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.timeZone"
          @change="onTimeZoneChanged"
        ></TimeZoneSelectorPanel>
        <ThemeSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.theme"
          :options="THEMES"
          @change="onThemeChanged"
        ></ThemeSelectorPanel>
        <FontSizeSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.fontSize"
          @change="onFontSizeChanged"
        ></FontSizeSelectorPanel>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header> </Header>
    </template>
  </Layout>
</template>
