<script setup lang="ts">
import { PropType, ref } from 'vue';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { LocaleActor } from '@base-workspace/bw-locale';
import { DIALOG_OPTION_PROP, BaseDialog } from '@base-workspace/bw-dialog';
import * as Pc from '../../services/page-common';
import { Item } from '../../models/item';
import ItemListPanel from '../panel/ItemListPanel.vue';

const props = defineProps(
  Object.assign({
    items: {
      type: Array as PropType<Item[]>,
      required: true
    },
    hint: {
      type: String,
      required: true
    },
    DIALOG_OPTION_PROP
  })
);

const emit = defineEmits<{
  confirm: [];
}>();

const la = new LocaleActor('components.dialog.ItemDeletionDialog');
const baseDialog = ref();

function onDeleteItemBtnClicked(): void {
  emit('confirm');
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="{
      klass: 'w-full max-w-lg'
    }"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{
            icon: getIcon('mdi', 'delete-forever'),
            size: 1.5
          }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t(Pc.laKey('deleteItem')) }}
        </div>
      </div>
    </template>
    <div class="flex flex-col gap-3">
      {{ props.hint }}
      <ItemListPanel :items="props.items"></ItemListPanel>
      <div class="w-full grid grid-cols-2 gap-2">
        <IconTextBtn
          class="btn-error"
          :icon-info="{ icon: getIcon('mdi', 'delete-forever') }"
          :text="la.t('core.action.delete') as string"
          @click="onDeleteItemBtnClicked"
        ></IconTextBtn>
        <IconTextBtn
          class="btn-ghost"
          :icon-info="{ icon: getIcon('mdi', 'close') }"
          :text="la.t('core.action.cancel') as string"
          @click="baseDialog.closeDialog()"
        ></IconTextBtn>
      </div>
    </div>
  </BaseDialog>
</template>
