<script setup lang="ts">
import { PropType, ref } from 'vue';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { LocaleActor } from '@base-workspace/bw-locale';
import { DIALOG_OPTION_PROP, BaseDialog } from '@base-workspace/bw-dialog';
import * as Pc from '../../services/page-common';
import { Item } from '../../models/item';
import ItemListPanel from '../panel/ItemListPanel.vue';

const props = defineProps(
  Object.assign({
    items: {
      type: Array as PropType<Item[]>,
      required: true
    },
    DIALOG_OPTION_PROP
  })
);

const la = new LocaleActor('components.dialog.TextQrCodeDialog');
const baseDialog = ref();
const downloadZipBlobUrl = ref<string | null>(null);
const downloadZipName = ref<string>('');

async function openDialog(): Promise<void> {
  downloadZipBlobUrl.value = null;
  downloadZipBlobUrl.value = await Pc.buildDownloadZipBlobUrl(props.items);
  downloadZipName.value = `${Item.buildDateTimeFileName(new Date())}`;
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="{
      klass: 'w-full max-w-lg'
    }"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{
            icon: getIcon('mdi', 'download'),
            size: 1.5
          }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t(Pc.laKey('downloadItem')) }}
        </div>
      </div>
    </template>
    <div class="flex flex-col gap-3">
      <ItemListPanel :items="props.items"></ItemListPanel>
      <label v-if="!downloadZipBlobUrl" class="label">
        <span class="label-text text-primary">{{
          la.t(Pc.laKey('prepareDownloadZipHint'))
        }}</span>
      </label>
      <div v-if="downloadZipBlobUrl" class="w-full join">
        <input
          v-model="downloadZipName"
          type="text"
          :placeholder="la.t(Pc.laKey('zipFileName')) as string"
          class="input input-bordered grow join-item"
        />
        <div
          class="input input-bordered join-item bg-base-200 flex items-center"
        >
          .zip
        </div>
      </div>
      <div class="w-full grid grid-cols-2 gap-2">
        <a
          v-if="downloadZipBlobUrl && downloadZipName"
          class="btn btn-primary gap-2"
          :href="downloadZipBlobUrl"
          :download="downloadZipName + '.zip'"
        >
          <IconPanel
            :icon-info="{
              icon: getIcon('mdi', 'download'),
              size: 1.5
            }"
          ></IconPanel>
          {{ la.t('core.action.download') }}
        </a>
        <IconTextBtn
          v-else
          class="btn-primary"
          disabled="true"
          :icon-info="{ icon: getIcon('mdi', 'download') }"
          :text="la.t('core.action.download') as string"
        ></IconTextBtn>
        <IconTextBtn
          class="btn-ghost"
          :icon-info="{ icon: getIcon('mdi', 'close') }"
          :text="la.t('core.action.cancel') as string"
          @click="closeDialog()"
        ></IconTextBtn>
      </div>
    </div>
  </BaseDialog>
</template>
