<script setup lang="ts">
import { ref } from 'vue';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as Selection from '@base-workspace/bw-selection';
import { SelectorDialog } from '@base-workspace/bw-dialog';
import { SORTING_DATA_MAP } from '../../models/item-types';

const props = defineProps({
  current: {
    type: String,
    required: true
  }
});

const emit = defineEmits<{
  select: [value: string];
}>();

const la = new LocaleActor('components.dialog.ItemDeletionDialog');
const baseDialog = ref();
const sortingSelectionOpts: Selection.SelectionOption[] = Object.keys(
  SORTING_DATA_MAP
).map((sorting) => {
  const data = SORTING_DATA_MAP[sorting];
  return {
    iconInfo: { icon: data.icon, size: 1.5 },
    label: la.t(`models.item.sort.${sorting}`) as string,
    value: sorting
  };
});

function onSortingSelected(value: string): void {
  emit('select', value);
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <SelectorDialog
    ref="baseDialog"
    :options="sortingSelectionOpts"
    :current="props.current"
    :dialog-option="{
      enableOutsideClose: true,
      klass: 'w-full max-w-sm'
    }"
    @select="onSortingSelected"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{
            icon: getIcon('mdi', 'sort-variant'),
            size: 1.5
          }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t('core.action.sort') }}
        </div>
      </div>
    </template>
  </SelectorDialog>
</template>
