<script setup lang="ts">
import { ref } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { DIALOG_OPTION_PROP, BaseDialog } from '@base-workspace/bw-dialog';
import { QrCodeImage } from '@base-workspace/bw-ui';

const props = defineProps(
  Object.assign({
    content: {
      type: String,
      required: true
    },
    DIALOG_OPTION_PROP
  })
);

const la = new LocaleActor('components.dialog.TextQrCodeDialog');
const baseDialog = ref();
const textToQrCode = ref<string>('');
const isQrCodeAvailable = ref<boolean>(true);

function openDialog(): void {
  isQrCodeAvailable.value = true;
  textToQrCode.value = props.content;
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="{
      klass: 'w-full max-w-lg',
      enableCloseBtn: true,
      enableOutsideClose: true
    }"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{
            icon: getIcon('mdi', 'qrcode-scan'),
            size: 1.5
          }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t('.generateQrCode') }}
        </div>
      </div>
    </template>
    <div class="flex flex-col gap-3">
      <div class="w-full p-3 flex flex-col items-center justify-center gap-3">
        <QrCodeImage
          v-if="textToQrCode && isQrCodeAvailable"
          class="mb-4"
          :text="textToQrCode"
          @error="isQrCodeAvailable = false"
        ></QrCodeImage>
        <div v-else class="w-full p-8 mt-5 border">
          {{ la.t('.generateQrCodeFailedHint') }}
        </div>
        <div
          class="self-stretch border p-3 break-all select-text cursor-text max-h-[30vh] overflow-y-auto"
        >
          {{ textToQrCode }}
        </div>
      </div>
    </div>
  </BaseDialog>
</template>
