<script setup lang="ts">
import { ref } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { DIALOG_OPTION_PROP, BaseDialog } from '@base-workspace/bw-dialog';

const props = defineProps(
  Object.assign({
    content: {
      type: String,
      required: true
    },
    DIALOG_OPTION_PROP
  })
);

const emit = defineEmits<{
  update: [value: string];
}>();

const la = new LocaleActor('components.CameraCaptureDialog');

const baseDialog = ref();
const textToEdit = ref<string>('');

async function onUpdateTextBtnClicked() {
  if (textToEdit.value) {
    emit('update', textToEdit.value);
    closeDialog();
  }
}

function openDialog(): void {
  textToEdit.value = props.content;
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>
<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="{
      klass: 'w-full max-w-lg',
      enableCloseBtn: true,
      enableOutsideClose: true
    }"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{
            icon: getIcon('mdi', 'text-box-edit-outline'),
            size: 1.5
          }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t('core.action.edit') }}
        </div>
      </div>
    </template>
    <textarea
      v-model="textToEdit"
      class="w-full border p-3 h-[50vh] overflow-y-auto"
    >
    </textarea>
    <div class="w-full mt-2 grid grid-cols-2 gap-2">
      <IconTextBtn
        class="btn-primary"
        :icon-info="{ icon: getIcon('mdi', 'check') }"
        :text="la.t('core.action.update') as string"
        :disabled="!textToEdit"
        @click="onUpdateTextBtnClicked"
      ></IconTextBtn>
      <IconTextBtn
        class="btn-ghost"
        :icon-info="{ icon: getIcon('mdi', 'close') }"
        :text="la.t('core.action.cancel') as string"
        @click="closeDialog()"
      ></IconTextBtn>
    </div>
  </BaseDialog>
</template>
