<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
import { IconTextBtn, getIcon } from '@base-workspace/bw-icon';

const props = defineProps({
  audioPath: {
    type: String,
    required: true
  },
  volume: {
    type: Number,
    default: 50
  },
  repeat: {
    type: Number,
    default: 1
  }
});

const audioEle = ref();
const isPlaying = ref(false);
const currentRepeat = ref(0);

watch(
  () => props.volume,
  (newValue) => {
    if (audioEle.value) {
      audioEle.value.volume = newValue / 100;
    }
  }
);

onMounted(() => {
  if (audioEle.value) {
    audioEle.value.volume = props.volume / 100;
    audioEle.value.addEventListener('ended', () => {
      if (props.repeat > currentRepeat.value) {
        currentRepeat.value += 1;
        audioEle.value.currentTime = 0;
        audioEle.value.play();
      } else {
        currentRepeat.value = 0;
        isPlaying.value = false;
      }
    });
  }
});

function onPlayBtnClicked(): void {
  if (audioEle.value) {
    currentRepeat.value += 1;
    audioEle.value.play();
    isPlaying.value = true;
  }
}

function onStopBtnClicked(): void {
  if (audioEle.value) {
    currentRepeat.value = 0;
    audioEle.value.pause();
    audioEle.value.currentTime = 0;
    isPlaying.value = false;
  }
}
</script>

<template>
  <div class="w-fit">
    <audio ref="audioEle" :src="props.audioPath"></audio>
    <IconTextBtn
      v-if="isPlaying"
      class="btn btn-sm btn-square btn-outline"
      :icon-info="{ icon: getIcon('mdi', 'stop'), size: 1.2 }"
      @click="onStopBtnClicked()"
    >
    </IconTextBtn>
    <IconTextBtn
      v-else
      class="btn btn-sm btn-square btn-outline"
      :icon-info="{ icon: getIcon('mdi', 'play'), size: 1.2 }"
      @click="onPlayBtnClicked()"
    >
    </IconTextBtn>
  </div>
</template>
