<template>
  <div class="relative border rounded-md mt-5 pt-5 bg-base-100">
    <div class="font-semibold bg-base-100 w-fit px-2 absolute -top-3 left-2">
      <slot name="title"></slot>
    </div>
    <div class="font-semibold bg-base-100 w-fit px-2 absolute -top-3 right-2">
      <slot name="sub-title"></slot>
    </div>
    <slot></slot>
  </div>
</template>
