<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales/index';
import BlockPanel from './BlockPanel.vue';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.BlockOtherPanel', i18n.t);
</script>
<template>
  <BlockPanel>
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          :icon-info="{ icon: getIcon('mdi', 'dots-horizontal'), size: 1.2 }"
          class="mr-2"
        ></IconPanel>
        {{ la.t('.title') }}
      </div>
    </template>
    <slot></slot>
  </BlockPanel>
</template>
