<script setup lang="ts">
import { ref, type PropType } from 'vue';
import { IconBoardBtn } from '@base-workspace/bw-icon';
import { SELECTION_PROP } from '@base-workspace/bw-selection';

type BoardSelectorEntryConfig = {
  klass?: string;
};

const props = defineProps(
  Object.assign(
    {
      configMap: {
        type: Object as PropType<Record<string, BoardSelectorEntryConfig>>,
        default: () => {
          return {};
        }
      }
    },
    SELECTION_PROP
  )
);

const emit = defineEmits<{
  select: [value: string];
}>();

const currentPage = ref<string | undefined>(props.current);

function onOptionSelected(value: string): void {
  currentPage.value = value;
  emit('select', value);
}
</script>

<template>
  <div class="grid gap-8">
    <div
      v-for="page in props.options"
      :key="page.value"
      class="flex flex-col items-center gap-2"
    >
      <input
        v-model="currentPage"
        type="radio"
        class="radio"
        name="defaultPage"
        :value="page.value"
        @input="onOptionSelected(page.value)"
      />
      <IconBoardBtn
        class="max-w-28 mt-0 pt-1"
        v-if="page.iconInfo"
        :class="props.configMap[page.value]?.klass || ''"
        :icon-info="page.iconInfo"
        :text="page.label || ''"
        @click="onOptionSelected(page.value)"
      >
      </IconBoardBtn>
    </div>
  </div>
</template>
