<script setup lang="ts">
import { type PropType } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { PageGuideData } from '@base-workspace/bw-page-guide';
import { IconBoardUploadBtn, IconBoardBtn } from '@base-workspace/bw-icon';

type BoardEntryConfig = {
  upload?: {
    multiple: boolean;
  };
  klass?: string;
};

const props = defineProps({
  pages: {
    type: Array as PropType<PageGuideData[]>,
    required: true
  },
  configMap: {
    type: Object as PropType<Record<string, BoardEntryConfig>>,
    default: () => {
      return {};
    }
  }
});

const emit = defineEmits<{
  trigger: [code: PageGuideData];
  upload: [files: FileList];
}>();

const la = new LocaleActor();

function onBtnCicked(page: PageGuideData): void {
  emit('trigger', page);
}

function onUploadBtnCicked(files: FileList): void {
  emit('upload', files);
}
</script>

<template>
  <div class="grid gap-8">
    <template v-for="page in props.pages" :key="page.code">
      <IconBoardUploadBtn
        v-if="props.configMap[page.code]?.upload"
        class="max-w-28"
        :class="props.configMap[page.code]?.klass || ''"
        :icon-info="page.iconInfo"
        :text="la.t(page.nameLk) as string"
        :multiple="props.configMap[page.code]?.upload?.multiple"
        @select="onUploadBtnCicked"
      >
      </IconBoardUploadBtn>
      <IconBoardBtn
        v-else
        class="max-w-28"
        :class="props.configMap[page.code]?.klass || ''"
        :icon-info="page.iconInfo"
        :text="la.t(page.nameLk) as string"
        @click="onBtnCicked(page)"
      >
      </IconBoardBtn>
    </template>
  </div>
</template>
