<script setup lang="ts">
import { IconCircleBtn, getIcon } from '@base-workspace/bw-icon';
</script>

<template>
  <IconCircleBtn
    class="btn-ghost"
    :icon-info="{ icon: getIcon('ph', 'question'), size: 2 }"
  />
</template>
