<script setup lang="ts">
import type { PropType } from 'vue';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import type { IndexLink } from '../types';

const props = defineProps({
  hint: {
    type: String,
    default: ''
  },
  links: {
    type: Array as PropType<IndexLink[]>,
    default: () => []
  }
});
</script>

<template>
  <div class="max-w-xl flex flex-col items-center justify-center gap-3">
    <div v-if="props.hint" class="max-w-sm my-5">
      {{ props.hint }}
    </div>
    <div
      v-for="link in props.links"
      :key="link.url"
      class="flex flex-col items-center"
    >
      <div class="flex items-center gap-2">
        <IconPanel
          :icon-info="link.iconInfo"
          :override="{ size: 1.5 }"
        ></IconPanel>
        {{ link.label }}
      </div>

      <div class="flex items-center gap-2">
        <a :href="link.url" target="_blank" class="btn btn-link"
          >{{ link.url }}
          <IconPanel
            :icon-info="{ icon: getIcon('mdi', 'open-in-new'), size: 1 }"
          ></IconPanel>
        </a>
      </div>
    </div>
  </div>
</template>
