<script setup lang="ts">
import type { PropType } from 'vue';
import { computed } from 'vue';
import { IconPanel } from '@base-workspace/bw-icon';
import type { LabelInfo } from '../types';

const props = defineProps({
  info: {
    type: Object as PropType<LabelInfo>,
    required: true
  },
  iconOnly: {
    type: Boolean,
    default: false
  }
});

const panelKlass = computed<string>(() => {
  let klass = '';
  if (props.info.colorName !== '') {
    klass = `bg-${props.info.colorName} text-${props.info.colorName}-content`;
  }
  if (props.iconOnly) {
    klass = `${klass} p-1`;
  } else {
    klass = `${klass} pl-2 pr-3 py-1`;
  }
  return klass;
});
</script>

<template>
  <div class="rounded-full flex items-center gap-1 text-sm" :class="panelKlass">
    <IconPanel
      v-if="props.info.iconInfo"
      :icon-info="props.info.iconInfo"
    ></IconPanel>
    <div v-if="props.iconOnly === false">
      {{ props.info.text }}
    </div>
  </div>
</template>
