<script setup lang="ts">
import { type PropType, computed } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel } from '@base-workspace/bw-icon';
import { PageGuideData, fetchPageData } from '@base-workspace/bw-page-guide';
const la = new LocaleActor();

const props = defineProps({
  pages: {
    type: Array as PropType<PageGuideData[]>,
    required: true
  },
  code: {
    type: String,
    required: true
  }
});

const currentPage = computed<PageGuideData | null>(() => {
  return fetchPageData(props.pages, props.code);
});
</script>

<template>
  <div v-if="currentPage" class="breadcrumbs">
    <div class="flex gap-2">
      <IconPanel
        :icon-info="currentPage.iconInfo"
        :override="{ size: 1.5 }"
      ></IconPanel>
      {{ la.t(currentPage.nameLk) }}
    </div>
  </div>
</template>
