<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconTextBtn, getIcon } from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales/index';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.SecretCodePanel', i18n.t);

const props = defineProps({
  code: {
    type: String,
    required: true
  },
  isShown: {
    type: Boolean,
    default: false
  }
});

const isShown = ref<boolean>(props.isShown);

const emit = defineEmits<{
  regenerate: [];
}>();

function onRegenerateTriggered() {
  isShown.value = true;
  emit('regenerate');
}
</script>

<template>
  <div class="flex flex-col">
    <div class="p-5 self-center text-xl font-mono select-text cursor-text">
      <span v-if="isShown">
        {{ props.code }}
      </span>
      <span v-else>
        {{ '*'.repeat(props.code.length) }}
      </span>
    </div>
    <div class="w-full flex flex-row gap-2">
      <IconTextBtn
        v-if="isShown"
        class="grow btn btn-primary btn-outline gap-2"
        :icon-info="{ icon: getIcon('mdi', 'eye-off-outline'), size: 1.5 }"
        :text="la.t('.hide') as string"
        @click="isShown = false"
      ></IconTextBtn>
      <IconTextBtn
        v-else
        class="grow btn btn-primary btn-outline gap-2"
        @click="isShown = true"
        :icon-info="{ icon: getIcon('mdi', 'eye'), size: 1.5 }"
        :text="la.t('.show') as string"
      ></IconTextBtn>
      <IconTextBtn
        class="grow btn btn-primary gap-2"
        :icon-info="{ icon: getIcon('mdi', 'reload'), size: 1.5 }"
        :text="la.t('.regenerate') as string"
        @click="onRegenerateTriggered"
      ></IconTextBtn>
    </div>
  </div>
</template>
