<script setup lang="ts">
import { ref, watch, computed } from 'vue';
import * as Selection from '@base-workspace/bw-selection';

const props = defineProps(
  Object.assign(
    {
      selectorId: {
        type: String,
        required: true
      }
    },
    Selection.SELECTION_PROP
  )
);

const emit = defineEmits<{
  select: [value: string];
}>();

const selectedValue = ref<string | undefined>(props.current);

const selectorName = computed<string>(() => {
  return `ui_utility_selector_${props.selectorId}`;
});

watch(
  () => props.current,
  (newValue) => {
    selectedValue.value = newValue;
  }
);

function onOptionSelected(value: string): void {
  if (selectedValue.value !== value) {
    selectedValue.value = value;
    emit('select', selectedValue.value);
  }
}
</script>

<template>
  <div class="flex gap-3">
    <label
      v-for="option in options"
      :key="option.value"
      class="flex-[1_1_auto] flex justify-center items-center gap-2"
    >
      <input
        v-model="selectedValue"
        type="radio"
        class="radio"
        :name="selectorName"
        :value="option.value"
        @input="onOptionSelected(option.value)"
      />
      <span>
        {{ option.label }}
      </span>
    </label>
  </div>
</template>
