<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import FontSizeSelector from './FontSizeSelector.vue';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.fontSize', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  }
});

const currentFontSize = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentFontSize.value = newValue;
  }
);

function onFontSizeChanged(fontSize: string): void {
  emit('change', fontSize);
}
</script>
<template>
  <BlockPanel class="p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <IconPanel
          class="mr-2"
          :icon-info="{ icon: getIcon('mdi', 'format-size'), size: 1.2 }"
        />
        {{ la.t('.title') }}
      </div>
    </template>
    <FontSizeSelector
      :current="currentFontSize"
      @change="onFontSizeChanged"
    ></FontSizeSelector>
  </BlockPanel>
</template>
