<script setup lang="ts">
import { ref, watch, computed, useSlots } from 'vue';
import { SELECTION_PROP } from '@base-workspace/bw-selection';
import { AutoCompletionInput } from '@base-workspace/bw-input';
import { DIALOG_OPTION_PROP } from '../def';
import BaseDialog from './BaseDialog.vue';

const props = defineProps(
  Object.assign({}, DIALOG_OPTION_PROP, SELECTION_PROP)
);

const emit = defineEmits<{
  select: [value: string];
}>();

const slots = useSlots();
const baseDialog = ref();
const autoCompletionDialogInput = ref();
const selectedValue = ref<string | undefined>(props.current);
const dialogOption = computed(() => {
  return Object.assign({}, props.dialogOption, { enableOutsideClose: true });
});

watch(
  () => props.current,
  (newValue) => {
    selectedValue.value = newValue;
  }
);

function onOptionSelected(value: string): void {
  closeDialog();
  if (selectedValue.value !== value) {
    selectedValue.value = value;
    emit('select', selectedValue.value);
  }
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>
<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="dialogOption"
    @open="autoCompletionDialogInput.setupUi()"
  >
    <template v-if="slots['dialog-title']" #dialog-title>
      <slot name="dialog-title"></slot>
    </template>
    <AutoCompletionInput
      ref="autoCompletionDialogInput"
      class="min-h-0 max-h-full"
      :options="props.options"
      :current="props.current"
      @select="onOptionSelected"
    ></AutoCompletionInput>
  </BaseDialog>
</template>
