<script setup lang="ts">
import { ref, computed, nextTick, useSlots } from 'vue';
import { onBeforeRouteLeave } from 'vue-router';
import { breakpointsTailwind, useBreakpoints } from '@vueuse/core';
import { IconCircleBtn, getIcon } from '@base-workspace/bw-icon';
import type { DialogOption } from '../def';
import { DIALOG_OPTION_PROP, DEFAULT_DIALOG_OPTION } from '../def';

const slots = useSlots();
const props = defineProps(DIALOG_OPTION_PROP);

const breakpoints = useBreakpoints(breakpointsTailwind);
const isDesktop = breakpoints.greaterOrEqual('lg');

const emit = defineEmits<{
  open: [];
  close: [];
}>();

const dialogRef = ref();

const currentDialogOption = computed<DialogOption>(() => {
  return Object.assign(
    {},
    DEFAULT_DIALOG_OPTION,
    { position: isDesktop.value ? 'center' : 'bottom' },
    props.dialogOption
  );
});

const dialogPositionKlass = computed<string>(() => {
  switch (currentDialogOption.value.position) {
    case 'top':
      return 'justify-center items-start';
    case 'bottom':
      return 'justify-center items-end';
    default:
      return 'justify-center items-center';
  }
});

const dialogRoundedKlass = computed<string>(() => {
  switch (currentDialogOption.value.position) {
    case 'top':
      return 'rounded-t-none';
    case 'bottom':
      return 'rounded-b-none';
    default:
      return '';
  }
});

onBeforeRouteLeave(() => {
  if (dialogRef.value.open) {
    dialogRef.value.close();
  }
});

function onDialogOutsideClicked(): void {
  if (currentDialogOption.value.enableOutsideClose) {
    closeDialog();
  }
}

function onDialogInsideClicked(event: Event): void {
  if (currentDialogOption.value.enableOutsideClose) {
    event.stopPropagation();
  }
}

function applyClose(): void {
  dialogRef.value.close();
  dialogRef.value.removeEventListener('transitionend', applyClose);
  nextTick(() => {
    emit('close');
  });
}

function openDialog(): void {
  if (dialogRef.value.open) {
    dialogRef.value.close();
  }
  dialogRef.value.showModal();
  dialogRef.value.classList.add('fade-in');
  nextTick(() => {
    emit('open');
  });
}

function closeDialog(withEffect = true): void {
  if (withEffect) {
    dialogRef.value.classList.remove('fade-in');
    dialogRef.value.addEventListener('transitionend', applyClose);
  } else {
    dialogRef.value.close();
    nextTick(() => {
      emit('close');
    });
  }
}

function toggleDialog(withEffect = true): void {
  if (dialogRef.value.open) {
    closeDialog(withEffect);
  } else {
    openDialog();
  }
}

defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <dialog ref="dialogRef">
    <div
      class="w-screen h-screen bg-transparent flex"
      :class="dialogPositionKlass"
      @click="onDialogOutsideClicked()"
    >
      <div
        class="relative card p-4 bg-base-100 shadow-lg rounded-lg max-w-full max-h-full w-fit h-fit flex flex-col"
        :class="`${dialogRoundedKlass} ${currentDialogOption.klass}`"
        @click="onDialogInsideClicked"
      >
        <div v-if="slots['dialog-title']" class="py-1 mb-3 mr-12 flex-none">
          <slot name="dialog-title"></slot>
        </div>
        <slot class="grow" />
        <IconCircleBtn
          v-if="props.dialogOption.enableCloseBtn"
          class="btn-ghost absolute top-4 right-4 z-10"
          :icon-info="{ icon: getIcon('mdi', 'close'), size: 1.5 }"
          @click="closeDialog()"
        >
        </IconCircleBtn>
      </div>
    </div>
  </dialog>
</template>

<style scoped>
@layer components {
  dialog {
    @apply bg-transparent max-w-screen max-h-screen p-0 m-0;
  }
  dialog::backdrop {
    @apply bg-black/70 backdrop-blur-sm;
  }
  [data-theme='black'] dialog::backdrop {
    @apply bg-neutral-800/80 backdrop-blur-sm;
  }

  dialog,
  dialog[open]::backdrop {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  dialog {
    transform: translateY(10px);
  }

  dialog[open].fade-in,
  dialog[open].fade-in::backdrop {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
  }
  dialog[open].fade-in {
    transform: translateY(0px);
  }
}

@tailwind components;
</style>
