<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import { DIALOG_OPTION_PROP } from '../def';
import BaseDialog from './BaseDialog.vue';

const props = defineProps(Object.assign({}, DIALOG_OPTION_PROP));

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.HelpDialog', i18n.t);

const baseDialog = ref();
const dialogOption = computed(() => {
  return Object.assign({}, props.dialogOption, { enableCloseBtn: true });
});

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}

defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <BaseDialog ref="baseDialog" :dialog-option="dialogOption">
    <template #dialog-title>
      <div class="m-1.5 flex items-center gap-3">
        <IconPanel
          :icon-info="{ icon: getIcon('ph', 'question'), size: 1.5 }"
        ></IconPanel>
        <div class="text-xl">
          {{ la.t('.title') }}
        </div>
      </div>
    </template>
    <slot name="help-content"></slot>
  </BaseDialog>
</template>
