<script setup lang="ts">
import { ref, watch, useSlots } from 'vue';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import * as Selection from '@base-workspace/bw-selection';
import { DIALOG_OPTION_PROP } from '../def';
import BaseDialog from './BaseDialog.vue';

const props = defineProps(
  Object.assign({}, DIALOG_OPTION_PROP, Selection.SELECTION_PROP)
);

const emit = defineEmits<{
  select: [value: string];
}>();

const slots = useSlots();
const baseDialog = ref();
const selectedValue = ref<string | undefined>(props.current);

watch(
  () => props.current,
  (newValue) => {
    selectedValue.value = newValue;
  }
);

function onOptionSelected(value: string): void {
  closeDialog();
  if (selectedValue.value !== value) {
    selectedValue.value = value;
    emit('select', selectedValue.value);
  }
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>
<template>
  <BaseDialog ref="baseDialog" :dialog-option="props.dialogOption">
    <template v-if="slots['dialog-title']" #dialog-title>
      <slot name="dialog-title"></slot>
    </template>
    <div class="overflow-y-auto">
      <ul class="menu bg-base-100">
        <li v-for="option in options" :key="option.value">
          <button
            class="outline-none flex justify-between items-center"
            @click="onOptionSelected(option.value)"
          >
            <IconPanel
              v-if="option.iconInfo"
              :icon-info="option.iconInfo"
            ></IconPanel>
            <div>
              {{ option.label || option.value }}
            </div>
            <div class="flex-1"></div>
            <IconPanel
              v-if="option.value === props.current"
              class="text-primary"
              :icon-info="{ icon: getIcon('mdi', 'circle'), size: 0.8 }"
            ></IconPanel>
          </button>
        </li>
      </ul>
    </div>
  </BaseDialog>
</template>
