<script setup lang="ts">
import { useRouter } from 'vue-router';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LocaleActor } from '@base-workspace/bw-locale';

const router = useRouter();
const la = new LocaleActor('app.service');

function onBackToHomeBtnClicked(): void {
  router.push({ name: 'entry' });
}
</script>

<template>
  <button
    class="btn btn-ghost rounded-full flex items-center gap-2"
    @click="onBackToHomeBtnClicked"
  >
    <IconPanel
      :icon-info="{
        icon: getIcon('mdi', 'home'),
        size: 1.5
      }"
    ></IconPanel>
    <div>
      {{ la.t('.home') }}
    </div>
  </button>
</template>
