<script setup lang="ts">
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IndexLink, IndexLinkPanel } from '@base-workspace/bw-ui';
import { LOCALE_MAP } from '../locales/index';
import { getIcon } from '@base-workspace/bw-icon';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.AboutPanel', i18n.t);

const props = defineProps({
  appLink: {
    type: String,
    required: true
  },
  repoLink: {
    type: String,
    required: true
  },
  donateLink: {
    type: String,
    required: true
  },
  promoLink: {
    type: String,
    required: true
  }
});

const openSourceLinks = computed<IndexLink[]>(() => {
  return [
    {
      iconInfo: { icon: getIcon('mdi', 'hexagon-outline') },
      label: la.t('.link.app') as string,
      url: props.appLink
    },
    {
      iconInfo: { icon: getIcon('mdi', 'code-block-braces') },
      label: la.t('.link.repo') as string,
      url: props.repoLink
    }
  ];
});

const supportLinks = computed<IndexLink[]>(() => {
  return [
    {
      iconInfo: { icon: getIcon('ph', 'handshake') },
      label: la.t('.link.donate') as string,
      url: props.donateLink
    }
    //  {
    //    iconInfo: { icon: getIcon('mdi', 'hexagon-slice-4') },
    //    label: la.t('.link.promo') as string,
    //    url: props.promoLink
    //  }
  ];
});
</script>

<template>
  <div class="flex flex-col gap-8">
    <IndexLinkPanel
      :hint="la.t('.openSourceHint') as string"
      :links="openSourceLinks"
    ></IndexLinkPanel>
    <IndexLinkPanel
      :hint="la.t('.supportHint') as string"
      :links="supportLinks"
    ></IndexLinkPanel>
  </div>
</template>
