<script setup lang="ts">
import { PropType, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import VueDatePicker from '@vuepic/vue-datepicker';
import { LocaleActor } from '@base-workspace/bw-locale';
import {
  IconInfo,
  IconPanel,
  IconTextBtn,
  getIcon
} from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales/index';
import { BaseDialog } from '@base-workspace/bw-dialog';
import '@vuepic/vue-datepicker/dist/main.css';

const props = defineProps({
  dt: {
    type: Date,
    required: false
  },
  timeZone: {
    type: String,
    required: true
  },
  enableTimePicker: {
    type: Boolean,
    default: false
  },
  minDt: {
    type: Date,
    required: false
  },
  maxDt: {
    type: Date,
    required: false
  },
  enableFastSelection: {
    type: Boolean,
    default: false
  },
  enableClearBtn: {
    type: Boolean,
    default: false
  },
  dialogTitle: {
    type: String,
    required: false
  },
  titleIconInfo: {
    type: Object as PropType<IconInfo>,
    required: false
  }
});

const emit = defineEmits<{
  select: [value: Date | null];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.common', i18n.t);
const picker = ref();

const pickedDate = ref<Date | undefined>(props.dt);
const dialog = ref();

watch(
  () => props.dt,
  (newValue) => {
    pickedDate.value = newValue;
  }
);

function fetchDayNames(): string[] {
  return [...Array(7).keys()].map((i) => {
    const wIndex = i === 6 ? 0 : i + 1;
    return la.t(`.weekDays[${wIndex}]`) as string;
  });
}

function onDateTimeApplied() {
  if (pickedDate.value) {
    emit('select', pickedDate.value);
    dialog.value.closeDialog();
  }
}

function onDatePicked(dt: Date) {
  if (props.enableFastSelection) {
    pickedDate.value = dt;
    emit('select', dt);
    dialog.value.closeDialog();
  }
}

function onClearBtnClicked() {
  pickedDate.value = undefined;
  emit('select', null);
  dialog.value.closeDialog();
}

function openDialog() {
  dialog.value.openDialog();
}

function closeDialog() {
  dialog.value.closeDialog();
}

defineExpose({ openDialog, closeDialog });
</script>

<template>
  <BaseDialog
    ref="dialog"
    :dialog-option="{
      klass: 'max-w-lg',
      enableOutsideClose: true
    }"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="
            props.titleIconInfo || {
              icon: getIcon('mdi', 'table-clock'),
              size: 1.5
            }
          "
        />
        <div class="text-xl">
          {{ props.dialogTitle || la.t('.selectDate') }}
        </div>
      </div>
    </template>
    <div class="flex flex-col gap-2">
      <VueDatePicker
        ref="picker"
        class="vdp-scope"
        v-model="pickedDate"
        inline
        auto-apply
        time-picker-inline
        :enable-time-picker="props.enableTimePicker"
        :timezone="props.timeZone"
        :locale="i18n.locale.value"
        format="yyyy/MM/dd HH:mm"
        :hide-input-icon="true"
        minutes-grid-increment="1"
        week-numbers="iso"
        :min-date="props.minDt"
        :max-date="props.maxDt"
        :select-text="la.t('.select') as string"
        :cancel-text="la.t('.cancel') as string"
        :now-button-label="la.t('.today') as string"
        :week-num-name="la.t('.weekNum') as string"
        :day-names="fetchDayNames()"
        :ui="{
          input: 'vdp-input'
        }"
        @date-update="onDatePicked"
      ></VueDatePicker>
      <div v-if="props.enableClearBtn" class="form-control w-full grid">
        <IconTextBtn
          class="btn-ghost"
          :icon-info="{ icon: getIcon('mdi', 'backspace'), size: 1.5 }"
          :text="la.t('core.action.clear') as string"
          @click="onClearBtnClicked"
        ></IconTextBtn>
      </div>
      <div
        v-if="!props.enableFastSelection"
        class="form-control w-full grid grid-cols-2 gap-2"
      >
        <IconTextBtn
          class="btn-primary"
          :icon-info="{ icon: getIcon('mdi', 'check'), size: 1.5 }"
          :text="la.t('core.action.apply') as string"
          @click="onDateTimeApplied"
        ></IconTextBtn>
        <IconTextBtn
          :icon-info="{ icon: getIcon('mdi', 'close'), size: 1.5 }"
          :text="la.t('core.action.cancel') as string"
          @click="dialog.closeDialog()"
        ></IconTextBtn>
      </div>
    </div>
  </BaseDialog>
</template>

<style>
@layer base {
  .vdp-input {
    @apply border-0;
  }
  .dp--tp-wrap {
    @apply max-w-full;
  }
  .dp__action_button {
    @apply btn btn-sm rounded-lg border-0 ml-2;
  }
  .dp__input::placeholder {
    opacity: 1;
  }
  .dp__time_picker_inline_container {
    @apply mb-2;
  }
  :root {
    --dp-font-family: theme(fontFamily.sans);
  }
  .dp__theme_dark {
    --dp-background-color: theme(colors.base-100);
    --dp-text-color: theme(colors.base-content);
    --dp-hover-color: #484848;
    --dp-hover-text-color: #fff;
    --dp-hover-icon-color: #959595;
    --dp-primary-color: theme(colors.primary);
    --dp-primary-disabled-color: #61a8ea;
    --dp-primary-text-color: theme(colors.primary-content);
    --dp-secondary-color: #a9a9a9;
    --dp-border-color: #2d2d2d;
    --dp-menu-border-color: #2d2d2d;
    --dp-border-color-hover: #aaaeb7;
    --dp-border-color-focus: #aaaeb7;
    --dp-disabled-color: #737373;
    --dp-disabled-color-text: #d0d0d0;
    --dp-scroll-bar-background: #212121;
    --dp-scroll-bar-color: #484848;
    --dp-success-color: #00701a;
    --dp-success-color-disabled: #428f59;
    --dp-icon-color: #959595;
    --dp-danger-color: #e53935;
    --dp-marker-color: #e53935;
    --dp-tooltip-color: #3e3e3e;
    --dp-highlight-color: rgb(0 92 178 / 20%);
    --dp-range-between-dates-background-color: var(--dp-hover-color, #484848);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #fff);
    --dp-range-between-border-color: var(--dp-hover-color, #fff);
    --dp-loader: 5px solid #005cb2;
  }
  .dp__theme_light {
    --dp-background-color: theme(colors.base-100);
    --dp-text-color: theme(colors.base-content);
    --dp-hover-color: #f3f3f3;
    --dp-hover-text-color: #212121;
    --dp-hover-icon-color: #959595;
    --dp-primary-color: theme(colors.primary);
    --dp-primary-disabled-color: #6bacea;
    --dp-primary-text-color: theme(colors.primary-content);
    --dp-secondary-color: #c0c4cc;
    --dp-border-color: #ddd;
    --dp-menu-border-color: #ddd;
    --dp-border-color-hover: #aaaeb7;
    --dp-border-color-focus: #aaaeb7;
    --dp-disabled-color: #f6f6f6;
    --dp-scroll-bar-background: #f3f3f3;
    --dp-scroll-bar-color: #959595;
    --dp-success-color: #76d275;
    --dp-success-color-disabled: #a3d9b1;
    --dp-icon-color: #959595;
    --dp-danger-color: #ff6f60;
    --dp-marker-color: #ff6f60;
    --dp-tooltip-color: #fafafa;
    --dp-disabled-color-text: #8e8e8e;
    --dp-highlight-color: rgb(25 118 210 / 10%);
    --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
    --dp-range-between-border-color: var(--dp-hover-color, #f3f3f3);
    --dp-loader: 5px solid #1976d2;
  }
}
@tailwind base;
</style>
