<script setup lang="ts">
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import { buildDateFormatPartMap, getDayWithTz } from '../action';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.DateTimePanel', i18n.t);

const props = defineProps({
  dt: {
    type: Date,
    required: false
  },
  timeZone: {
    type: String,
    required: true
  }
});

const timeMap = computed<Record<string, string>>(() => {
  if (props.dt) {
    return buildDateFormatPartMap(props.dt, props.timeZone);
  } else {
    return {};
  }
});

const weekday = computed<string>(() => {
  const dNum = getDayWithTz(props.timeZone, props.dt);
  return la.t(`components.common.weekDays[${dNum}]`) as string;
});
</script>

<template>
  <div v-if="props.dt" class="w-fit flex flex-col border-2 border-primary">
    <div class="p-1 font-bold text-center bg-primary text-primary-content">
      {{ timeMap['year'] }}.{{ timeMap['month'] }}
    </div>
    <div class="flex items-center">
      <div class="pl-2 text-4xl font-bold text-primary">
        {{ timeMap['day'] }}
      </div>
      <div class="p-1 flex flex-col items-center">
        <div class="text-xl">
          {{ weekday }}
        </div>
        <div class="text-sm">{{ timeMap['hour'] }}:{{ timeMap['minute'] }}</div>
      </div>
    </div>
  </div>
</template>
