<script setup lang="ts">
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import { fetchQuickDisplayByCode, parseRange } from '../action';
import { RangeParsedResult } from '../def';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.DateRangePanel', i18n.t);

const props = defineProps({
  code: {
    type: String,
    required: true
  },
  timeZone: {
    type: String,
    required: true
  }
});

const parseResult = computed<RangeParsedResult | null>(() => {
  if (props.code === 'all' || props.code === 'today') {
    return null;
  }
  return parseRange(props.code);
});
</script>

<template>
  <div>
    <div v-if="props.code === 'today'">
      {{ la.t('components.common.today') }}
    </div>
    <div v-if="props.code === 'all'">
      {{ la.t('.range.all') }}
    </div>
    <div v-if="parseResult && parseResult.kind === 'since'">
      {{ la.t(`.range.${props.code}`) }}
    </div>
    <div
      v-if="parseResult && parseResult.kind === 'quick'"
      class="flex items-center gap-1"
    >
      {{ fetchQuickDisplayByCode(props.code, props.timeZone) }}
    </div>
  </div>
</template>
