<script setup lang="ts">
import { ref, onMounted, onUnmounted, type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { LOCALE_MAP } from '../locales';
import {
  type TimeZoneValue,
  fetchTzOffset,
  formatDateWithTz,
  fetchTzData
} from '../action';

const { t } = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('data', t);

const props = defineProps({
  timeZone: {
    type: String as PropType<TimeZoneValue>,
    required: true
  }
});

const currentDt = ref<Date>(new Date());
const tickerId = ref();

onMounted(() => {
  tickerId.value = setInterval(() => {
    currentDt.value = new Date();
  }, 1000);
});

onUnmounted(() => {
  if (tickerId.value) {
    clearInterval(tickerId.value);
  }
});
</script>

<template>
  <div class="flex justify-center">
    <div class="flex flex-col items-center gap-4">
      <div class="flex flex-wrap justify-center items-center gap-3">
        <div class="flex items-center gap-2 flex-nowrap">
          <IconPanel :icon-info="{ icon: getIcon('mdi', 'earth') }" />
          {{ la.t(`.continent.${fetchTzData(props.timeZone).continent}`) }}
        </div>
        <div class="flex items-center gap-2 flex-nowrap">
          <IconPanel :icon-info="{ icon: getIcon('mdi', 'city') }" />
          {{ la.t(`.timeZone.${props.timeZone}`) }}
        </div>
        <div class="flex items-center gap-2 flex-nowrap">
          <IconPanel :icon-info="{ icon: getIcon('mdi', 'map') }" />
          {{ fetchTzOffset(props.timeZone) }}
        </div>
      </div>
      <div>
        {{ formatDateWithTz(props.timeZone, currentDt, { showSec: true }) }}
      </div>
    </div>
  </div>
</template>
