<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel, getIcon } from '@base-workspace/bw-icon';
import { AutoCompletionDialog } from '@base-workspace/bw-dialog';
import { LOCALE_MAP } from '../locales';
import type { TimeZoneValue } from '../action';
import { TIME_ZONES, fetchTzData, fetchTzOffset } from '../action';

const props = defineProps({
  current: {
    type: String,
    required: false
  }
});

const emit = defineEmits<{
  change: [value: TimeZoneValue];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('data', i18n.t);

const tzSelectorDialog = ref();
const currentTz = ref(props.current);

function fetchTzOptions() {
  return TIME_ZONES.map((tz) => {
    const tzI18n = la.t(`.timeZone.${tz}`);
    const continentI18n = la.t(`.continent.${fetchTzData(tz).continent}`);
    const tzOffset = fetchTzOffset(tz);
    return {
      value: tz,
      label: `${continentI18n} / ${tzI18n} (${fetchTzOffset(tz)})`,
      searchIndex: `${tz} ${tzOffset} ${tzI18n} ${continentI18n}`
    };
  });
}

watch(
  () => props.current,
  (newValue) => {
    currentTz.value = newValue;
  }
);

function onOptionSelected(tz: string): void {
  emit('change', tz as TimeZoneValue);
}

function openDialog(): void {
  tzSelectorDialog.value.openDialog();
}

function closeDialog(): void {
  tzSelectorDialog.value.closeDialog();
}

function toggleDialog(): void {
  tzSelectorDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>

<template>
  <AutoCompletionDialog
    ref="tzSelectorDialog"
    :dialog-option="{
      enableOutsideClose: true,
      klass: 'w-full md:w-1/2 max-w-full max-h-v60'
    }"
    :current="currentTz"
    :options="fetchTzOptions()"
    @select="onOptionSelected"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <IconPanel
          :icon-info="{ icon: getIcon('mdi', 'map-clock'), size: 1.5 }"
        />
        <div class="text-xl">
          {{ la.t('.title') }}
        </div>
      </div>
    </template>
  </AutoCompletionDialog>
</template>
